<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title">
        <fa-icon [icon]='faMobile'></fa-icon>
        <span class="pl-2">{{ pageHeader }}</span>
      </div>
      <div class="col-sm-9  tools text-right">

      </div>
    </div>
    <nav aria-label="breadcrumb" *ngIf="isLoaded">
      <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a routerLink="/device">Device</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{device.name}}</li>
      </ol>
    </nav>
    <div class="row highlights-label pt-1">
      <div class="col-sm-2">Device Name</div>
      <div class="col-sm-1">Serial #</div>
      <div class="col-sm-1">Brand</div>
      <div class="col-sm-1">Modal</div>
      <div class="col-sm-7">Status</div>
    </div>
    <div class="row" *ngIf="isLoaded">
      <div class="col-sm-2">{{device.name}}</div>
      <div class="col-sm-1">{{device.serial}}</div>
      <div class="col-sm-1">{{device.model.brand.name}}</div>
      <div class="col-sm-1">{{device.model.name}}</div>
      <div class="col-sm-7">
        <span *ngIf="device.status == statusEnum.ACTIVE" class="status-active">{{deviceStatus}}</span>
        <span *ngIf="device.status == statusEnum.INACTIVE" class="status-inactive">{{deviceStatus}}</span>
        <span *ngIf="device.status == statusEnum.DELETED" class="status-deleted">{{deviceStatus}}</span>
      </div>
    </div>
    <div class="row device-details" *ngIf="isLoaded">
      <ngb-tabset #t="ngbTabset" style="width: 100%;">
        <ngb-tab id="tab-dashboard" title="Dashboard">
          <ng-template ngbTabContent>
            <div class="tab-content">
              <div class="row">
                <div class="col-sm-8">
                  <div class="row dashboard-item">
                    <div class="col-sm-4 image-sec">
                      <img src="{{getDeviceImagePath(device.model.modelImageName)}}" width="100%" height="100%">
                    </div>
                    <div class="col-sm-8">
                      <div class="row pt-4 pb-2 px-4">
                        <div class="col-sm-12 highlights-label">Location</div>
                      </div>
                      <div class="row px-4">
                        <div class="col-sm-12 address">{{device.location.name}}, {{device.location.address}}</div>
                      </div>
                      <hr/>
                      <div class="row pb-2 px-4">
                        <div class="col-sm-4 highlights-label">Device Status</div>
                        <div class="col-sm-4 highlights-label">Device Health</div>
                        <div class="col-sm-4 highlights-label">Software Status</div>
                      </div>
                      <div class="row py-2 px-4">
                        <div class="col-sm-4">N/A</div>
                        <div class="col-sm-4">N/A</div>
                        <div class="col-sm-4">N/A</div>
                      </div>
                      <div class="row py2 px-4">
                        <div class="col-sm-4 highlights-label">Device Version</div>
                        <div class="col-sm-4 highlights-label">Baseline Version</div>
                      </div>
                      <div class="row px-4">
                        <div class="col-sm-4">N/A</div>
                        <div class="col-sm-4">N/A</div>
                      </div>
                      <hr/>
                      <div class="row pb-2 px-4">
                        <div class="col-sm-6 highlights-label">Battery Level</div>
                        <div class="col-sm-6 highlights-label">RAM Level</div>
                      </div>
                      <div class="row px-4">
                        <div class="col-sm-6">100%</div>
                        <div class="col-sm-6">70%</div>
                      </div>
                      <div class="row pt-3 px-4">
                        <div class="col-sm-6"><ngb-progressbar type="success" [value]="100" height="20px"></ngb-progressbar></div>
                        <div class="col-sm-6"><ngb-progressbar type="success" [value]="70" height="20px"></ngb-progressbar></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-5 pl-0">
                  <div class="dashboard-item">
                  </div>
                </div> -->
                <div class="col-sm-4 pl-0">
                  <div class="dashboard-item px-3">
                    <div class="row pt-4 pb-2 px-4">
                      <div class="col-sm-12 highlights-label">Timeline</div>
                    </div>
                    <div class="row px-4">
                      <div class="col-sm-12">(UTC-08:00) Pacific Time (US&Canada)</div>
                    </div>
                    <hr/>
                    <div class="row px-4">
                      <div class="col-sm-12">Applications</div>
                    </div>
                    <div class="row py-2 px-4">
                      <div class="col-sm-4 highlights-label">Name</div>
                      <div class="col-sm-4 highlights-label">Version</div>
                      <div class="col-sm-4 highlights-label">Updated Date</div>
                    </div>
                    <div class="row px-4">
                      <div class="col-sm-4 application">N/A</div>
                      <div class="col-sm-4 application">N/A</div>
                      <div class="col-sm-4 application">N/A</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-details" title="Details">
          <ng-template ngbTabContent>
            <div class="tab-content px-5 py-3">
              <table class="table table-striped"  style="width: 80%">
                <thead>
                  <tr>
                    <th scope="col" style="width: 20%;">Name</th>
                    <th scope="col" style="width: 50%;">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dd of device.details">
                    <td>{{ dd.key }}</td>
                    <td>{{ dd.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-events" title="Events">
          <ng-template ngbTabContent>
            <div class="tab-content px-3 py-3">
              <table class="table table-striped"  style="width: 80%">
                <thead>
                  <tr>
                    <th scope="col" style="width: 20%;">Message Id</th>
                    <th scope="col" style="width: 10%;">Message Type</th>
                    <th scope="col" style="width: 25%;">Details</th>
                    <th scope="col" style="width: 10%;">Status</th>
                    <th scope="col" style="width: 15%;">Error</th>
                    <th scope="col" style="width: 10%;">Request Date</th>
                    <th scope="col" style="width: 10%;">Response Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of device.eventLogs">
                    <td><span ngbTooltip="{{ event.messageId }}" tooltipClass="tool-tip">{{ event.messageId }}</span></td>
                    <td>{{ event.messageType }}</td>
                    <td>
                      <span ngbTooltip="{{ event.installMsg }}" tooltipClass="tool-tip"*ngIf="event.messageType == jobEnum.APP_INSTALL">{{ event.installMsg }}</span>
                      <span ngbTooltip="{{ event.paramMsg }}" tooltipClass="tool-tip" *ngIf="event.messageType == jobEnum.APP_PARAM_UPDATE">{{ event.paramMsg }}</span>
                      <span ngbTooltip="{{ event.deviceDetails }}" tooltipClass="tool-tip" *ngIf="event.messageType == jobEnum.DEVICE_DETAILS">{{ event.deviceDetails }}</span>
                    </td>
                    <td>
                      <span *ngIf="event.eventStatus == 'SUCCESS'">{{ event.eventStatus }}</span>
                    </td>
                    <td><span ngbTooltip="{{ event.messageId }}" tooltipClass="tool-tip">{{ event.errMsg }}</span></td>
                    <td>{{ event.createdDate }}</td>
                    <td>
                      <span *ngIf="event.eventStatus == 'SUCCESS'">{{ event.updatedDate }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-params" title="Params">
          <ng-template ngbTabContent>
            <div class="tab-content px-5 py-3"  *ngIf="isLoaded">
              <div class="row" *ngFor="let k of getParamKeys()">
                <div class="col-12 form-group-title">
                  <h6 >{{k}}</h6>
                </div>
                <table class="table table-striped"  style="width: 80%">
                  <!-- <thead>
                    <tr>
                      <th scope="col" style="width: 30%;">Name</th>
                      <th scope="col" style="width: 70%;">Value</th>
                    </tr>
                  </thead> -->
                  <tbody>
                    <tr *ngFor="let dd of let v of getParamValueKeys(k)">
                      <td>{{v}}</td>
                      <td>{{deviceParams[k][v]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
