<div class="row">
  <div class="col-sm-3 merchant-grid" *ngFor="let merchant of merchants">
    <div class="card merchant-card">
        <div class="card-body merchant-card-body">
          <div class="header d-flex">
              <div class="txt-left">
                    {{merchant.name}}
              </div>
              <div class="ml-auto txt-right">
                <span class="badge">{{merchant.terminals.length}}</span>  
                <span class="pl-2"><fa-icon [icon]='faEllipsisH'></fa-icon></span>
              </div>
          </div>
          <div class="pin-block">
              <div class="row pb-2">
                <div class="col-6">Access PIN</div>  
                <div class="col-6">Login PIN</div>
              </div>
              <div class="row pin">
                <div class="col-6">
                    {{merchant.viewApin ? merchant.accessPin : "****"}}
                    <span *ngIf="merchant.viewApin" class="pl-1"><a (click)="onToggleAeccessIcon(merchant.id)"><fa-icon [icon]='faEye'></fa-icon></a></span>
                    <span *ngIf="!merchant.viewApin" class="pl-1"><a (click)="onToggleAeccessIcon(merchant.id)"><fa-icon [icon]='faEyeSlash'></fa-icon></a></span>
                </div>  
                <div class="col-6">
                    {{merchant.viewLpin ? merchant.loginPin : "****"}}
                    <!-- <span class="pl-1"><a (click)="onToggleLoginIcon(merchant.id)"><fa-icon [icon]='faEyeSlash'></fa-icon></a></span> -->
                    <span *ngIf="merchant.viewLpin" class="pl-1"><a (click)="onToggleLoginIcon(merchant.id)"><fa-icon [icon]='faEye'></fa-icon></a></span>
                    <span *ngIf="!merchant.viewLpin" class="pl-1"><a (click)="onToggleLoginIcon(merchant.id)"><fa-icon [icon]='faEyeSlash'></fa-icon></a></span>
                </div>
              </div>
            </div>
        </div>
        <hr class="my-1">
        <div class="card-body merchant-card-body">
            <div class="row misc-block">
                <div class="col-2 align-self-center"><img src="../../../assets/images/ip.svg" /></div>
                <div class="col-10">
                        <div class="row pb-2">
                          <div class="col-6">Primary IP</div>  
                          <div class="col-6">Primary Port</div>
                        </div>
                        <div class="row">
                          <div class="col-6">{{merchant.primaryIp}}</div>  
                          <div class="col-6">{{merchant.primaryPort}}</div>
                        </div>
                </div>
            </div>
          </div> 
          <hr class="my-1">
          <div class="card-body merchant-card-body">
            <div class="text-display">
                <div class="row pb-2">
                  <div class="col-6">Address</div>  
                </div>
                <div class="row">
                  <div class="col-12">{{merchant.address}}</div>  
                </div>
              </div>
          </div> 
  </div>
</div>
