@import "../../assets/sass/variables";

.db-card {
  padding: 10px 20px;
  min-height: 150px;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  // width: 90%;
  text-align: center;
}

.db-card .main {
  //margin: 0px 12px;
  border: 1px solid $input-border-color !important;
  border-radius: 3px;
  padding: 15px;
  // width: 90% !important;
}

// .db-card:first-child {
//     padding-left: 100px;
// }

// .db-card:last-child {
//     padding-right: 50px;
// }

.db-card .location {
  padding: 0px;
  height: 36px;
  width: 36px;
  background-color: $az-blue-secondary;
  color: $white;
  text-align: center;
  line-height: 33px;
  border-radius: 5px;
}

.db-card .device {
  padding: 0px;
  height: 36px;
  width: 36px;
  background-color: $orange;
  color: $white;
  text-align: center;
  line-height: 33px;
  border-radius: 5px;
}

.db-card .active-device {
  padding: 0px;
  height: 36px;
  width: 36px;
  background-color: #6fcf97;
  color: $white;
  text-align: center;
  line-height: 33px;
  border-radius: 5px;
}

.db-card .inactive-device {
  padding: 0px;
  height: 36px;
  width: 36px;
  background-color: $danger;
  color: $white;
  text-align: center;
  line-height: 33px;
  border-radius: 5px;
}

.db-card .title {
  padding: 12px 0px;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: $gray-dark;
  text-align: left;
}

.db-card .highlight {
  // padding: 12px 0px;
  font-size: small;
  font-weight: $font-weight-light;
  line-height: 25px;
  color: $gray-medium;
}

.db-card .text {
  padding: 0px;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  text-align: left;
  font-size: x-large;
}

.db-card .text-hl-positive {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  line-height: 38px;
  color: $green;
}

.db-card .text-hl-negative {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  line-height: 38px;
  color: $danger;
}

.db-card .text-hl-none {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  line-height: 38px;
  color: $az-blue-primary;
}

.db-map {
  padding: 10px 20px 20px 20px;
}

.overview-body {
  margin: 10px 20px;
  // border-top: 1px solid $input-border-color;
  // border-bottom: 1px solid $input-border-color;
}

.overview-main {
  padding: 0px 20px;
}

.overview-data {
  background-color: $white;
  min-height: 330px;
  border-bottom: 1px solid;
  border-color: $input-border-color;
}

// .overview-data td {
//   font-family: $font-family-light;
// }


.overview-body .top-title {
  //padding-bottom: 10px;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  color: $header-color;;
  text-align: left;
  line-height: 35px;
  // background-color: $form-color;
  border-bottom: 1px solid;
  border-color: $input-border-color;
}

.overview-data a{
  font-family: $font-family-light !important;
  font-size: $font-size-xs;
}

.overview-data a:hover{
  color: $gray-light;
  text-decoration: underline;
  cursor: pointer;
}

.table td {
    font-size: $font-size-xs;
    color: $gray;
    background-color: $white;
    font-family: $font-family-light;
    // border: 1px solid $az-font-color;
    }

.table tr td:first-child {
  border-left: 1px solid $white;
}

.table tr td:last-child {
  border-right: 1px solid $white;
}

.table tbody tr {
  border: 1px solid $white;
  box-shadow: 2px 2px 3px $white;
  -webkit-box-shadow: 2px 2px 3px $white;
  -moz-box-shadow: 2px 2px 3px $white;
}

.table th,
.table td {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  background-color: $white;
  border: 0px;
}

// .table th{
//     border-bottom: 1px solid $body-border-color !important;
// }

.count-indicator{
  background-color: $form-color;
  // border: 1px solid $input-border-color;
  min-width: 23px !important;
  min-height: 23px !important;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 21px;
  color: $az-blue-primary;
  font-size: $font-size-xs;
  font-family: $font-family-light !important;
}

.count-indicator a:hover{
  color: $az-font-color;
  text-decoration: underline;
  cursor: pointer;
}