@import "../../assets/sass/variables";

select {
    height: 30px;
    font-family: $font-family-light;
    font-size: $font-size-xs;
    color: $gray-medium;
    padding-left: 5px;
    padding-right: 5px;
    border-color: $header-color;
    border-radius: 3px;
  }

  .select-app {
    font-family: $font-family-light;
    font-size: $font-size-md;
    color: $header-color;
    font-weight: $font-weight-bold;
  } 
  
  .select-app-select{
    min-width: 200px;
    font-family: $font-family-base;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
  }