@import "../../assets/sass/variables";

.form-container {
  padding: 10px 20px !important;
  width: 95% !important;
  border: 0px !important;
}

.a-bold{
  font-family: $font-family-bold !important;
  color: #18A0FB;
}

.bottom {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 5px;
  line-height: 22px;
}

.form-button-action {
  width: 140px !important;
}
