<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-5 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ appParamCount }})</span>
      </div>
      <!-- <div class="col-sm-7  tools text-right">
          
        </div> -->
      <!-- <div class="col-sm-7 tools text-right">
        <button class="button" (click)="create(paramform)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            Configuration</span>
        </button>
      </div> -->
    </div>
    <div *ngIf="appsCount === 0" class="info">
      No application paramater configured yet for the selected application.
      <ul>
        <li>Parameter configurationn can be added by using <span class="info-highlight">Add Configuration</span> option.
        </li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="appsCount > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Application</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of apps | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ app.name }}</span></td>
            <td><span class="pr-3"><a (click)="view(app.id, paramform)" routerLinkActive="active">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="edit(app.id, paramform)" routerLinkActive="active">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="delete(app.id)" routerLinkActive="active">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="appsCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize" class="paging">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #paramform let-c="close" let-d="dismiss">
  <app-dynamic-form [formTitle]="formTitle" [formConfig]="formConfig" [service]='paramService' (modelClosed)='closeModal($event)'></app-dynamic-form>
</ng-template>