<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-5 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ appParamCount }})</span>
      </div>
      <!-- <div class="col-sm-7  tools text-right">
          
        </div> -->
      <div class="col-sm-7 tools text-right">
        <button class="button" (click)="create(paramform)" *ngIf="hasAccess(actionEnum.add)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            Configuration</span>
        </button>
      </div>
    </div>
    <div *ngIf="appParamCount === 0" class="info">
      <div class="row pb-2">
        <div class="col-sm-12 text-right">
          <button class="button file-button" (click)="downloadTemplate()">
            <fa-icon [icon]='faDownload' size="lg"></fa-icon><span class="pl-2">Download Sample Template</span>
          </button>
          <span class="pl-2">
            <button class="button file-button" (click)="importTemplate(importTemplateForm)">
              <fa-icon [icon]='faDownload' size="lg"></fa-icon><span class="pl-2">Import Template</span>
            </button>
          </span>
          <span class="pl-2">
            <button class="button file-button" (click)="importParams(importConfigForm)">
              <fa-icon [icon]='faImport' size="lg"></fa-icon><span class="pl-2">Import Configuration(s)</span>
            </button>
          </span>
        </div>
      </div>
      No application paramater configured yet.
      <ul>
        <li>Parameter configuration can be added by using <span class="info-highlight">Add Configuration</span> option.
        </li>
        <li>Download sample parameter configuration file by using <span class="info-highlight">Downalod Sample
            Template</span> option.</li>
        <li>Import parameter configuration(s) file by using <span class="info-highlight">Import Configuration</span>
          option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="appParamCount > 0">
      <div class="row pb-2">
        <div class="col-sm-12 text-right">
          <button class="button file-button" (click)="downloadTemplate()">
            <fa-icon [icon]='faDownload' size="lg"></fa-icon><span class="pl-2">Download Sample Template</span>
          </button>
          <span class="pl-2">
            <button class="button file-button" (click)="importTemplate(importTemplateForm)">
              <fa-icon [icon]='faDownload' size="lg"></fa-icon><span class="pl-2">Import Template</span>
            </button>
          </span>
          <span class="pl-2 pr-2">
            <button class="button file-button" (click)="importParams(importConfigForm)">
              <fa-icon [icon]='faImport' size="lg"></fa-icon><span class="pl-2">Import Configuration(s)</span>
            </button>
          </span>
          <!-- <span>
            <button class="button file-button" (click)="exportParams()">
              <fa-icon [icon]='faExport' size="lg"></fa-icon><span class="pl-2">Export Configuration(s)</span>
            </button>
          </span> -->
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col" style="width: 5%;"><input type="checkbox"></th> -->
            <th scope="col" style="width: 25%;">Device</th>
            <th scope="col" style="width: 25%;">Application</th>
            <th scope="col" style="width: 20%;">Last Update By</th>
            <th scope="col" style="width: 20%;">Last Updated On</th>
            <th scope="col" style="width: 10%;" *ngIf="hasActionAccess()">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let param of appParams | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <!-- <td><input type="checkbox"></td> -->
            <td><span class="table-col-name">{{ param.device.name }} ({{param.device.serial}})</span></td>
            <td>{{ param.app.name }}</td>
            <td>{{ param.lastUpdatedBy }}</td>
            <td>{{ param.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td *ngIf="hasActionAccess()">
              <span class="pr-3" *ngIf="hasAccess(actionEnum.view)">
                <a (click)="view(param.id, paramform)" routerLinkActive="active" ngbTooltip="View" tooltipClass="tool-tip">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a>
              </span>
              <span class="pr-3" *ngIf="hasAccess(actionEnum.edit)">
                <a (click)="edit(param.id, paramform)" routerLinkActive="active" ngbTooltip="Edit" tooltipClass="tool-tip">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="appParamCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize" class="paging page-select">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #paramform let-c="close" let-d="dismiss">
  <app-app-param-form [actionType]="actionType" [merchant]="merchant" [selectedParam]="appParam"
    (modalClosed)='closeModal($event)'></app-app-param-form>
</ng-template>
<ng-template #importTemplateForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ pageHeader }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="importForm">
      <div class="form-row">
        <div class="form-group col-sm-6 required">
          <label for="app" class="asterisk-if-mandatory">Application</label>
          <select required class="form-control" formControlName="app" id="app"
            [ngClass]="{ 'is-invalid': formSubmitted && f.app.errors }">
            <option value="" disabled selected>Select Application</option>
            <option *ngFor="let a of apps" [value]="a.id" selected>{{a.name}}</option>
          </select>
          <div *ngIf="formSubmitted && f.app.errors" class="invalid-feedback">
            <div *ngIf="f.app.errors.required">Application is required</div>
          </div>
        </div>
        <div class="form-group col-sm-6 pl-4">
          <label for="configFile">Select Template File</label>
          <input id="configFile" type="file" class="form-control-file file-cls" (change)="onFileChange($event)"
            [ngClass]="{ 'is-invalid': formSubmitted && f.configFileName.errors }" accept=".json">
          <div *ngIf="formSubmitted && f.configFileName.errors" class="invalid-feedback">
            <div *ngIf="f.configFileName.errors.required">Template is required.</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="configFile">Template</label>
          <textarea id="template" type="file" rows="15"
            class="form-control-file file-cls">{{importedContent}}</textarea>
        </div>
      </div>
    </form>
    <div class="button-block">
      <span class="pr-3"><button type="button" class="btn btn-primary form-button-cancel"
          (click)="cancel()">Cancel</button>
      </span>
      <button type="button" class="btn btn-primary form-button-action" (click)="saveTemplate()"
        *ngIf="importType=='TEMPLATE'">Import</button>
      <button type="button" class="btn btn-primary form-button-action" (click)="saveParams()"
        *ngIf="importType=='PARAMS'">Import</button>
    </div>
  </div>
</ng-template>
<ng-template #importConfigForm let-c="close" let-d="dismiss">
  <app-app-param-import [merchant]="merchant" (modalClosed)='closeModal($event)'></app-app-param-import>
</ng-template>
