<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-2 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ modelCount }})</span>
      </div>
      <div class="col-sm-8 tools text-right">
        <form [formGroup]="searchForm">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <span class="pr-2">
                <input id='name' formControlName="name" class="filter-input merchant" placeholder="Model Name" #name>
              </span>
              <span class="pr-2">
                <select id="brand" formControlName="brand" class="filter-select" #brand  (change)="searchModels('brand')">
                  <option value="" selected>All Brand</option>
                  <option *ngFor="let b of brands" [value]="b.id">{{b.name}}</option>
                </select>
              </span>
              <span class="pr-3">
                <select id="status" formControlName="status" class="filter-select" #status  (change)="searchModels('status')">
                  <option value="" selected>All Status</option>
                  <option *ngFor="let s of statusKeys" [value]="statusEnum[s]">{{s}}</option>
                </select>
              </span>
              <span class="pr-2 filter-icon">
                <!-- <a *ngIf="!inFilterMode" (click)="openAdSearch(searchModal)" ngbTooltip="Filter"
                  tooltipClass="tool-tip">
                  <fa-icon [icon]='faSearchPlus' style="color: #777777" size="md"></fa-icon> Advanced Search
                </a> -->
                <a (click)="clearSearchResult()" *ngIf="inFilterMode" ngbTooltip="Clear Filter" tooltipClass="tool-tip">
                  <fa-icon [icon]='faTimes' style="color: #777777" size="md"></fa-icon> Clear Filter
                </a>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2 tools text-right">
        <!-- <button class="button" (click)="create()"> -->
        <button class="button" (click)="create(dmModal)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Model</span>
        </button>
      </div>
    </div>
    <div *ngIf="modelCount === 0" class="info">
      No device models are created yet.
      <ul>
        <li>New device can be created by using <span class="info-highlight">Add New Model</span> option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="modelCount > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">Name</th>
            <th scope="col" style="width: 20%;">Brand</th>
            <th scope="col" style="width: 8%;">Version</th>
            <th scope="col" style="width: 8%;"># of Devices</th>
            <th scope="col" style="width: 7%;">Status</th>
            <th scope="col" style="width: 15%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Updated On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of models | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ model.name }}</span></td>
            <td>{{ model.brand.name }}</td>
            <td>{{ model.baseVersion+'.'+model.modelVersion }}</td>
            <td>{{ model.deviceCount }}</td>
            <td>{{ getStatus(model.status)}}</td>
            <td>{{ model.lastUpdatedBy }}</td>
            <td>{{ model.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td><span class="pr-3"><a (click)="view(model.id, dmModal)" routerLinkActive="active"
                  *ngIf="canView(model.status)">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="edit(model.id, dmModal)" routerLinkActive="active"
                  *ngIf="canEdit(model.status)">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="delete(model.id)" routerLinkActive="active"
                  *ngIf="canDelete(model.status)">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="modelCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #dmModal let-modal>
  <app-device-model-form [actionType]="actionType" [model]="model" (modalClosed)='closeModal($event)'>
  </app-device-model-form>
</ng-template>
