<div class="main">
    <div class="container-fluid">
      <div class="row page-header">
        <div class="col-sm-3 title"><img src="../../../assets/images/merchant.svg" />
          <span class="pl-2">{{ pageHeader }}</span>
          <span class="count pl-2">({{ modelCount }})</span>
        </div>
        <!-- <div class="col-sm-7  tools text-right">
          
        </div> -->
        <div class="col-sm-9 tools text-right">
          <button class="button" (click)="create()">
            <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
              New Model</span>
          </button>
        </div>
      </div>
      <div *ngIf="modelCount === 0" class="info">
        No devices are created yet for the selected location.
        <ul>
          <li>New device can be created by using <span class="info-highlight">Add New Model</span> option.</li>
        </ul>
      </div>
      <div class="pt-2" *ngIf="modelCount > 0">
  
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Version</th>
              <th scope="col">Base Version</th>
              <th scope="col">Description</th>
              <th scope="col">Created By</th>
              <th scope="col">Created Date</th>
              <th scope="col">Modified By</th>
              <th scope="col">Modified Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of models | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td><span class="table-col-name">{{ model.name }}</span></td>
              <td>{{ model.brand.name }}</td>
              <td>{{ model.modelVersion }}</td>
              <td>{{ model.baseVersion }}</td>
              <td>{{ model.desc }}</td>
              <td>{{ model.createdBy }}</td>
              <td>{{ model.createdDate }}</td>
              <td>{{ model.modifiedBy }}</td>
              <td>{{ model.modifiedDate }}</td>
              <td><span class="pr-3"><a (click)="view(model.id)" routerLinkActive="active">
                    <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                  </a></span>
                <span class="pr-3"><a (click)="edit(model.id)" routerLinkActive="active">
                    <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                  </a></span>
                <span class="pr-3"><a (click)="delete(model.id)" routerLinkActive="active">
                    <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                  </a></span></td>
            </tr>
          </tbody>
        </table>
  
        <div class="d-flex justify-content-between px-2">
          <ngb-pagination [collectionSize]="modelCount" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
  
          <select [(ngModel)]="pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="25">25 items per page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  
