@import "../../assets/sass/variables";
@import '../../../node_modules/angular-archwizard/variables';

.centered-content {
  margin: auto;
  text-align: center;
}

// Redefine current step styles via SCSS variables
$aw-colors: map-merge($aw-colors, ('_': map-merge(map-get($aw-colors, '_'), ('current': ('border-color-default': $form-color,
          'border-color-hover': $form-color,
          'background-color-default': $form-color,
          'background-color-hover': $form-color,
          'symbol-color-default': $form-color,
          'symbol-color-hover': $form-color,
        ),
        // If the current step is in 'editing' state, 'editing' state styles will override
        // the 'current' ones, so 'editing' styles should be redefined as well
        'editing': ('border-color-default': $form-color,
          'border-color-hover': $form-color,
          'background-color-default': $form-color,
          'background-color-hover': $form-color,
          'symbol-color-default': $form-color,
          'symbol-color-hover': $form-color,
        ),
      )))) !global;

aw-wizard.custom-global-scss {

  @include aw-define-styles();

  aw-wizard-navigation-bar.horizontal{
    margin: auto;
    text-align: center;
    min-width: 60%;
  }

//   aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator {
//     width: 40%;
//   }

  aw-wizard-navigation-bar.horizontal ul.steps-indicator li {
    &.current {
      .label {
        color: $header-color;
      }
    }

    .label {
      color: $gray-medium;
      font-size: $font-size-xs !important;
      font-family: $font-family-bold !important;
      padding: 0px;
    }
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator {
    padding: 50px 0 10px 0 !important;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li .step-indicator {
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: $gray-medium !important;
    font-size: $font-size-xs !important;
    top: -35px;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.current .step-indicator{
    background-color: $header-color !important;
    border-color: $form-color !important;
    color: $white !important;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.done .step-indicator {
    background-color: $header-color !important;
    border-color: $form-color !important;
    color: $white !important;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.done .label {
    color: $header-color !important;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li:not(:last-child):after {
    left: calc(50% + 12px) !important;
    top: -23px;
    height: 2px
  }

  aw-wizard-navigation-bar.horizontal ul.steps-indicator li.done:not(.editing):not(:last-child):after {
    background-color: $header-color !important;
  }

  aw-wizard-step {
    .centered-content {
      background-color: #eeeeee;
      color: $header-color;
    }

    h3 {
      text-decoration: underline;
      color: $header-color;
    }
  }
}
