@import "../../assets/sass/variables";
@import '../../../node_modules/angular-archwizard/variables';

.centered-content {
  margin: auto;
  text-align: center;
}

// Redefine current step styles via SCSS variables
$aw-colors: map-merge($aw-colors, ('_': map-merge(map-get($aw-colors, '_'), ('current': ('border-color-default': $form-color,
          'border-color-hover': $form-color,
          'background-color-default': $form-color,
          'background-color-hover': $form-color,
          'symbol-color-default': $form-color,
          'symbol-color-hover': $form-color,
        ),
        // If the current step is in 'editing' state, 'editing' state styles will override
        // the 'current' ones, so 'editing' styles should be redefined as well
        'editing': ('border-color-default': $form-color,
          'border-color-hover': $form-color,
          'background-color-default': $form-color,
          'background-color-hover': $form-color,
          'symbol-color-default': $form-color,
          'symbol-color-hover': $form-color,
        ),
      )))) !global;

aw-wizard.custom-global-scss {

  @include aw-define-styles();

  aw-wizard-navigation-bar.horizontal{
    margin: auto;
    text-align: center;
    min-width: 60%;
  }

//   aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator {
//     width: 40%;
//   }

  aw-wizard-navigation-bar.horizontal ul.steps-indicator li {
    &.current {
      .label {
        color: $header-color;
      }
    }

    .label {
      color: $gray-medium;
      font-size: $font-size-xs !important;
      font-family: $font-family-bold !important;
      padding: 0px;
    }
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator {
    padding: 50px 0 10px 0 !important;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $body-border-color;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li .step-indicator {
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: $gray-medium !important;
    font-size: $font-size-xs !important;
    top: -35px;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.current .step-indicator{
    background-color: $header-color !important;
    border-color: $form-color !important;
    color: $white !important;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.done .step-indicator {
    background-color: $header-color !important;
    border-color: $form-color !important;
    color: $white !important;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.done .label {
    color: $header-color !important;
  }

  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li:not(:last-child):after {
    left: calc(50% + 12px) !important;
    top: -23px;
    height: 2px
  }

  aw-wizard-navigation-bar.horizontal ul.steps-indicator li.done:not(.editing):not(:last-child):after {
    background-color: $header-color !important;
  }

  aw-wizard-step {
    .centered-content {
      background-color: #eeeeee;
      color: $header-color;
    }

    h3 {
      text-decoration: underline;
      color: $header-color;
    }
  }
}

.form-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top:20px;
    text-align: left;
    border: 1 solid $body-color !important;
  }
  
  .form-header {
    min-height: 50px;
    line-height: 50px;
    margin: 0px;
    letter-spacing: 2px;
    padding: 0px;
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
    font-family: $font-family-medium;
  }
  
  .form-container label {
    font-size: $font-size-xs;
    font-weight: $font-weight-lighter;
    font-family: $font-family-base;
  }
  
  .form-container .bottom-label {
    font-size: $font-size-xs;
    font-weight: $font-weight-lighter;
    font-family: $font-family-base;
    line-height: 25px;
  }
  
  .form-container a {
    font-size: $font-size-xs !important;
    font-family: $font-family-bold !important;
    color: $header-color !important;
  
  }
  
  .form-container a:hover {
    color: $header-color;
    cursor: pointer;
  }
  
  .form-button {
    height: 35px;
    width: 125px;
    background-color: $header-color;
    font-size: $font-size-sm;
    font-weight: $font-weight-lighter;
    font-family: $font-family-light;
    box-shadow: lightness($color: #000000);
  }

  .form-cancel {
    height: 35px;
    width: 125px;
    background-color: $form-color;
    font-size: $font-size-sm;
    font-weight: $font-weight-lighter;
    font-family: $font-family-light;
    box-shadow: lightness($color: #000000);
    border-color: $header-color;
    color: $gray-medium;
  }

  .button-block {
    padding-left: 100px;
    padding-right: 100px;
    padding-top:30px;
    text-align: left;
  }
  
  .form-control:focus {
      box-shadow: inset 0 -1px 0 $gray-lighter;
  }