<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ appCount }})</span>
      </div>
      <!-- <div class="col-sm-7  tools text-right">
        
      </div> -->
      <div class="col-sm-9 tools text-right">
        <button class="button" (click)="create(appModal)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Application</span>
        </button>
      </div>
    </div>
    <div *ngIf="appCount === 0" class="info">
      No applications are created yet.
      <ul>
        <li>New application can be created by using <span class="info-highlight">Add New Application</span> option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="appCount > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 15%;">Name</th>
            <th scope="col" style="width: 8%;">Type</th>
            <th scope="col" style="width: 8%;">Version</th>
            <th scope="col" style="width: 15%;">Description</th>
            <th scope="col" style="width: 8%;">Status</th>
            <th scope="col" style="width: 8%;"># of Libraries</th>
            <th scope="col" style="width: 8%;"># of Devices</th>
            <th scope="col" style="width: 10%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Update On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of apps | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ app.name }}</span></td>
            <td>{{ app.type }}</td>
            <td>{{ app.appVersion }}</td>
            <td>{{ app.desc }}</td>
            <td>{{ getStatus(app.status) }}</td>
            <td></td>
            <td></td>
            <td>{{ app.lastUpdatedBy }}</td>
            <td>{{ app.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td><span class="pr-3"><a (click)="view(app.id, appModal)" routerLinkActive="active">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="edit(app.id, appModal)" routerLinkActive="active">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="delete(app.id)" routerLinkActive="active">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="appCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize" class="paging">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #appModal let-modal>
  <app-application-form [actionType]="actionType" [merchant]="merchant" [app]="app" (modelClosed)='closeModal($event)'></app-application-form>
</ng-template>