<nav class="navbar navbar-expand-lg navbar-dark header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style='cursor: pointer;' (click)='showDashboard()'><img src="../../../assets/images/az_pay_config_logo.svg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
        aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-mi" *ngIf="hasMenuAccess('mdb')">
          <a class="nav-link" routerLink="/db"><span class="pr-1"><fa-icon [icon]='faHome' size="md"></fa-icon></span>Home</a>
        </li>
        <li class="nav-item nav-mi" *ngIf="hasMenuAccess('mdb')">
          <a class="nav-link" routerLink="/mdb"><span class="pr-1"><fa-icon [icon]='faDashboard' size="md"></fa-icon></span>Dashboard</a>
        </li>
        <li class="nav-item nav-mi" *ngIf="hasMenuAccess('merchant')">
          <a class="nav-link" routerLink="/merchant"><span class="pr-1"><fa-icon [icon]='faMerchant' size="md"></fa-icon></span>Merchants</a>
        </li>
        <li class="nav-item nav-mi" *ngIf="hasMenuAccess('location')">
          <a class="nav-link" routerLink="/location"><span class="pr-1"><fa-icon [icon]='faMap' size="md"></fa-icon></span>Location</a>
        </li>
        <li ngbDropdown class="nav-item nav-mi" *ngIf="hasMenuAccess('device')">
          <div class="nav-link">
            <span class="pl-2">
              <a ngbDropdownToggle id="deviceDropdown"><span class="pr-1"><fa-icon [icon]='faMobile' size="md"></fa-icon></span>Deivce</a>
            </span>
          </div>
          <div ngbDropdownMenu aria-labelledby="deviceDropdown" class="nav-sm">
            <a ngbDropdownItem class="nav-smi" routerLink="/device" *ngIf="hasMenuAccess('device')">Device</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/event" *ngIf="hasMenuAccess('event')">Schedule Event</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item nav-mi" *ngIf="hasMenuAccess('report')">
          <div class="nav-link">
            <span class="pl-2">
              <a ngbDropdownToggle id="reportDropdown"><span class="pr-1"><fa-icon [icon]='faReport' size="md"></fa-icon></span>Reports</a>
            </span>
          </div>
          <div ngbDropdownMenu aria-labelledby="reportDropdown" class="nav-sm">
            <a ngbDropdownItem class="nav-smi" routerLink="#">Alerts</a>
            <a ngbDropdownItem class="nav-smi" routerLink="#">Devices</a>
            <a ngbDropdownItem class="nav-smi" routerLink="#">Downloads</a>
            <a ngbDropdownItem class="nav-smi" routerLink="#">Merchants</a>
            <a ngbDropdownItem class="nav-smi" routerLink="#">Users</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item nav-mi" *ngIf="hasMenuAccess('admin')">
          <div class="nav-link">
            <span class="pl-2">
              <a ngbDropdownToggle id="adminDropdown"><span class="pr-1"><fa-icon [icon]='faUserCog' size="md"></fa-icon></span>Administration</a>
            </span>
          </div>
          <div ngbDropdownMenu aria-labelledby="adminDropdown" class="nav-sm">
            <a ngbDropdownItem class="nav-smi" routerLink="/dbrand" *ngIf="hasMenuAccess('device-brand')">Device Brand</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/dmodel" *ngIf="hasMenuAccess('device-model')">Device Model</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/app" *ngIf="hasMenuAccess('app')">Application</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/library" *ngIf="hasMenuAccess('library')">Application Bundle</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/param" *ngIf="hasMenuAccess('app-param')">Application Parameter</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/au" *ngIf="hasMenuAccess('admin-user')">Admin Users</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/user" *ngIf="hasMenuAccess('user')">Users</a>
            <a ngbDropdownItem class="nav-smi" routerLink="/role" *ngIf="hasMenuAccess('role')">Roles</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">

        <li ngbDropdown class="nav-item">
          <!-- <div ngbDropdown class="nav-link profile"> -->
          <div class="nav-link profile pl-5">
            <img src="../../../assets/images/user_icon.svg" />
            <span class="pl-2">
              <a ngbDropdownToggle id="userDropdown" *ngIf="profile">{{profile.firstName +' '+profile.lastName}}</a>
              <a ngbDropdownToggle id="userDropdown" *ngIf="!profile">Hi Guest!</a>
            </span>
          </div>
          <div ngbDropdownMenu aria-labelledby="userDropdown">
            <!-- <button ngbDropdownItem (click)="openLoginModal(logincontent)" *ngIf="!profile">
              <fa-icon [icon]='faSignIn' class="pr-1"></fa-icon>Login as Admin
            </button> -->
            <button ngbDropdownItem (click)="logout()" *ngIf="profile">
              <fa-icon [icon]='faSignOut' class="pr-1"></fa-icon>Logout
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-template #importcontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Import Configuration</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal($event, 'import')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="modal-info">You can import a previously configured JSON file using AzPay Configurator</p>
    <app-file-dnd></app-file-dnd>
  </div>
  <div class="modal-footer mt-4">
    <button class="button modal-button">
      Import
    </button>
    <span class="pl-1"></span>
    <button class="button-cancel modal-button" (click)="closeModal($event, 'import')">
      Cancel
    </button>
  </div>
</ng-template>
<!-- <ng-template #logincontent let-c="close" let-d="dismiss">
  <app-login-form [showHeader]="true" [isPopup]="true" (modelClosed)='closeModal($event, "login")'></app-login-form>
</ng-template> -->
