@import "../../../assets/sass/variables";

.header {
    width: 100%;
    min-height: 70px;
    text-align: center;
    background-color: $header-color;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-collapse {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav .nav-item{
    height: 70px;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-nav .nav-item:first-child{
    padding-left: 75px;
}

// .navbar-nav .nav-link .profile{
//     font-size: $font-size-xs !important;
//     font-weight: $font-weight-lighter !important;
//     font-family: $font-family-light;
// }

.navbar-nav .nav-link{
    font-size: $font-size-sm;
    color: $white;
    line-height: 50px;
}

.nav-item > a:hover {
    color: $az-blue-primary;
}

.navbar-nav .active > .nav-link{
    color: #f2994a;
    border-bottom: 3px solid transparent;
    border-bottom-color: #f2994a;
    border-radius: 3px;
}

.profile {
    font-size: $font-size-xs !important;
    font-weight: $font-weight-lighter !important;
    font-family: $font-family-light;
    color: $white;
}

.header-button {
    padding-left: 10px !important;
    padding-right: 10px !important;
    a:hover {
        color: $white;
    }
}

.header-button .show {
    font-size: $font-size-sm;
    color: $white;
    border: 1px solid $white;
    border-radius: 10px;
    height: 25px;
    min-width: 75px;
    font-size: $font-size-xs !important;
    font-weight: $font-weight-lighter !important;
    font-family: $font-family-light;
    line-height: 5px;
    margin-top: 22px;
}

.modal-info {
    width: 500px;
    padding: 0.5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family-light;
    font-size: $font-size-xs;
    font-weight: $font-weight-lighter;
  }

.modal-button {
    min-width: 100px;
}

.navbar-nav .dropdown-menu{
    top: 50px;
    right: 50px;
}