<div class="container-fluid login">
  <div class="row login-container p-0">
    <div class="col-sm-4 form p-0 m-0">
      <div class="px-4 pb-2 pt-5 text-center">
        <img src="../../assets/images/login-logo.svg" class="logo" />
      </div>
      <div class="px-4 py-2">
        <app-login-form></app-login-form>
      </div>
      <div class="poweredby text-center">
        Powered By
        <p><img src="../../assets/images/logo.svg" /></p>
      </div>
    </div>
    <div class="col-sm-8 p-0"><img src="../../assets/images/login_bg.jpg" class="bg-img" /></div>
  </div>
</div>