<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ pageHeader }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="deviceForm">

    <div class="form-row">
      <div class="form-group col-sm-12 required">
        <label for="location" class="asterisk-if-mandatory">Location</label>
        <!-- <select required class="form-control" formControlName="location" id="location"
          [ngClass]="{ 'is-invalid': formSubmitted && f.location.errors }">
          <option value="" disabled selected>Select Location</option>
          <option *ngFor="let l of locations" [value]="l.id">{{l.name}}</option>
        </select> -->
         <select required class="form-control" formControlName="location" id="location"
          [ngClass]="{ 'is-invalid': formSubmitted && f.location.errors }" >
          <option value="" disabled selected>Select Location</option>
          <option *ngFor="let l of locations" [value]="l.id" selected>{{l.name}}</option>
        </select>
        <!-- <input required formControlName="location" id="location" type="text" class="form-control" autocomplete="off"
          [ngClass]="{ 'is-invalid': formSubmitted && f.location.errors }" readonly placeholder="location.name"> -->
        <div *ngIf="formSubmitted && f.location.errors" class="invalid-feedback">
          <div *ngIf="f.location.errors.required">Location is required</div>
          <div *ngIf="f.location.errors?.minlength">Location must be at least 1 characters long.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-6 required">
        <label for="serial" class="asterisk-if-mandatory">Serial #</label>
        <input required formControlName="serial" id="serial" type="text" class="form-control" autocomplete="off"
          [ngClass]="{ 'is-invalid': formSubmitted && f.serial.errors }">
        <div *ngIf="formSubmitted && f.serial.errors" class="invalid-feedback">
          <div *ngIf="f.serial.errors.required">Serial is required</div>
          <div *ngIf="f.serial.errors?.minlength">Serial must be at least 1 characters long.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 required">
        <label for="name" class="asterisk-if-mandatory">Name</label>
        <input required formControlName="name" id="name" type="text" class="form-control" autocomplete="off"
          [ngClass]="{ 'is-invalid': formSubmitted && f.name.errors }">
        <div *ngIf="formSubmitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors?.minlength">Name must be at least 5 characters long.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 required">
        <label for="model" class="asterisk-if-mandatory">Device Model</label>
        <select required class="form-control" formControlName="model" id="model"
          [ngClass]="{ 'is-invalid': formSubmitted && f.model.errors }">
          <option value="" disabled selected>Select Model</option>
          <option *ngFor="let m of models" [value]="m.id">{{m.name}}</option>
        </select>
        <div *ngIf="formSubmitted && f.model.errors" class="invalid-feedback">
          <div *ngIf="f.model.errors.required">Device model is required</div>
          <div *ngIf="f.model.errors?.minlength">Devce model must be at least 1 characters long.</div>
        </div>
      </div>
    </div>

  </form>
  <div class="button-block">
    <button type="button" class="btn btn-primary form-button-cancel"
        (click)="cancel()">Cancel</button>
    <span class="pl-2" *ngIf="actionType == actionEnum.add">
      <button type="button" class="btn btn-primary form-button-action" (click)="save()">Save</button>
    </span>
    <span class="pl-2" *ngIf="actionType == actionEnum.view && hasAccess(actionEnum.delete) && merchant.status !== 2">
      <button type="button" class="btn btn-primary form-button-action"
        (click)="openConfirmation(actionConfirm, 'merchant', actionEnum.delete, merchant.id, merchant.name)">Delete</button>
    </span>
    <span class="pl-2" *ngIf="actionType == actionEnum.view && hasAccess(actionEnum.activate) && merchant.status === 0">
      <button type="button" class="btn btn-primary form-button-action"
        (click)="openConfirmation(actionConfirm, 'merchant', actionEnum.activate, merchant.id, merchant.name)">Activate</button>
    </span>
    <span class="pl-2" *ngIf="actionType == actionEnum.view && hasAccess(actionEnum.inActivate) && merchant.status === 1">
      <button type="button" class="btn btn-primary form-button-action"
        (click)="openConfirmation(actionConfirm, 'merchant', actionEnum.inActivate, merchant.id, merchant.name)">In-Activate</button>
    </span>    
  </div>
</div>
<ng-template #actionConfirm let-modal>
  <app-confirm-dialog [resource]='confirmResource' (modalClosed)='closeConfirmation($event)'></app-confirm-dialog>
</ng-template>