<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ deviceCount }})</span>
      </div>
      <!-- <div class="col-sm-7  tools text-right">
        
      </div> -->
      <div class="col-sm-9 tools text-right" *ngIf="locationCount > 0">
        <span class="pl-2">Select location</span>
        <span class="location-select pl-2 pr-2"><select id="location" (change)="onLocationChange($event.target.value)">
          <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
        </select></span>
        <button class="button" (click)="createDevice()">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Device</span>
        </button>

      </div>
    </div>
    <div *ngIf="locationCount > 0 && deviceCount === 0" class="info">
      No devices are created yet for the selected location.
      <ul>
        <li>New device can be created by using <span class="info-highlight">Add New Device</span> option.</li>
      </ul>
    </div>
    <div *ngIf="locationCount === 0" class="info">
      No locations are cofigured yet.
    </div>
    <div class="pt-2" *ngIf="deviceCount > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Serial #</th>
            <th scope="col">Model</th>
            <th scope="col">Created By</th>
            <th scope="col">Created Date</th>
            <th scope="col">Modified By</th>
            <th scope="col">Modified Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ device.name }}</span></td>
            <td>{{ device.serial }}</td>
            <td>{{ device.modal }}</td>
            <td>{{ device.createdBy }}</td>
            <td>{{ device.createdDate }}</td>
            <td>{{ device.modifiedBy }}</td>
            <td>{{ device.modifiedDate }}</td>
            <td><span class="pr-3"><a (click)="viewDevice(device.id)" routerLinkActive="active">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="editDevice(device.id)" routerLinkActive="active">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="deleteDevice(device.id)" routerLinkActive="active">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="deviceCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
