@import "../../assets/sass/variables";

select {
  height: 30px;
  font-family: $font-family-light;
  font-size: $font-size-xs;
  color: $gray-medium;
  padding-left: 5px;
  padding-right: 5px;
  border-color: $header-color;
  border-radius: 3px;
}

// .location-select select {
//   height: 34px;
//   font-family: $font-family-base;
//   font-size: $font-size-sm;
//   color: $header-color;
//   font-weight: $font-weight-lighter;
//   border-radius: 5px;
//   min-width: 200px;
// }

.select-loc {
  font-family: $font-family-light;
  font-size: $font-size-md;
  color: $header-color;
  font-weight: $font-weight-bold;
} 

.select-loc-select{
  min-width: 200px;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
}
