<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-2 title">
        <fa-icon [icon]='faMobile'></fa-icon>
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ deviceCount }})</span>
      </div>
      <div class="col-sm-8 tools text-right">
        <form [formGroup]="searchForm">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <span class="pr-2">
                <input id='serial' formControlName="serial" class="filter-input merchant" placeholder="Device Serial" #dvscSerial>
              </span>
              <span class="pr-2">
                <input id='name' formControlName="name" class="filter-input merchant" placeholder="Device Name" #dvscName>
              </span>
              <span class="pr-3">
                <select id="status" formControlName="status" class="filter-select" #status  (change)="searchDevices('status')">
                  <option value="" selected>All Status</option>
                  <option *ngFor="let s of statusKeys" [value]="statusEnum[s]">{{s}}</option>
                </select>
              </span>
              <span class="pr-2 filter-icon">
                <a *ngIf="!inFilterMode" (click)="openAdSearch(searchModal)" ngbTooltip="Filter"
                  tooltipClass="tool-tip">
                  <fa-icon [icon]='faSearchPlus' style="color: #777777" size="md"></fa-icon> Advanced Search
                </a>
                <a (click)="clearSearchResult()" *ngIf="inFilterMode" ngbTooltip="Clear Filter" tooltipClass="tool-tip">
                  <fa-icon [icon]='faTimes' style="color: #777777" size="md"></fa-icon> Clear Filter
                </a>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2 tools text-right">
        <button class="button" (click)="create(deviceModal)" *ngIf="hasAccess(actionEnum.add)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Device</span>
        </button>
      </div>
    </div>
    <div *ngIf="deviceCount === 0 && !inFilterMode" class="info">
      No devices are created yet.
      <ul>
        <li>New device can be created by using <span class="info-highlight">Add New Device</span> option.</li>
      </ul>
    </div>
    <div *ngIf="deviceCount === 0 && inFilterMode" class="info">
      No devices found, please refine your filter.
    </div>
    <div class="pt-2" *ngIf="deviceCount > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">Name</th>
            <th scope="col" style="width: 8%;">Serial #</th>
            <th scope="col" style="width: 8%;">Model</th>
            <th scope="col" style="width: 10%;">Location</th>
            <th scope="col" style="width: 10%;">Heartbeat Status</th>
            <th scope="col" style="width: 9%;">Recent Alarm</th>
            <th scope="col" style="width: 9%;">Battery Health</th>
            <th scope="col" style="width: 6%;">Status</th>
            <th scope="col" style="width: 10%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Update On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><a [routerLink]="['/dProfile']" [queryParams]="{ id: device.id}"> <span
                  class="table-col-name">{{ device.name }}</span></a></td>
            <td>{{ device.serial }}</td>
            <td>{{ device.model.name }}</td>
            <td>{{ device.location.name }}</td>
            <td>Success</td>
            <td>NA</td>
            <td>70</td>
            <td>{{ getStatus(device.status) }}</td>
            <td>{{ device.lastUpdatedBy }}</td>
            <td>{{ device.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td *ngIf="hasActionAccess()">
              <span class="pr-3" *ngIf="hasAccess(actionEnum.view)">
                <a (click)="view(device.id, deviceModal)" routerLinkActive="active" ngbTooltip="View" tooltipClass="tool-tip">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a>
              </span>
              <span class="pr-3" *ngIf="hasAccess(actionEnum.delete) && device.status !== 2">
                <a (click)="openConfirmation(actionConfirm, 'device', actionEnum.delete, device.id, device.name)" routerLinkActive="active" ngbTooltip="Delete" tooltipClass="tool-tip">
                  <!-- <a (click)="delete(device.id)" routerLinkActive="active"> -->
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a>
              </span>
              <span *ngIf="hasAccess(actionEnum.activate) && device.status === 0">
                <a (click)="openConfirmation(actionConfirm, 'device', actionEnum.activate, device.id, device.name)" routerLinkActive="active" ngbTooltip="Activate" tooltipClass="tool-tip">
                  <fa-icon [icon]='faCheckCircle' style="color: #20c997;"></fa-icon>
                </a>
              </span>
              <span *ngIf="hasAccess(actionEnum.activate) && device.status === 1">
                <a (click)="openConfirmation(actionConfirm, 'device', actionEnum.inActivate, device.id, device.name)" routerLinkActive="active" ngbTooltip="In-Activate" tooltipClass="tool-tip">
                  <fa-icon [icon]='faBan' style="color: #fd7e14;"></fa-icon>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="deviceCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize" class="page-select">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #deviceModal let-modal>
  <app-device-form [actionType]="actionType" [merchant]="merchant" [device]="device" [locations]="locations"
    (modalClosed)='closeModal($event)'></app-device-form>
</ng-template>
<ng-template #searchModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Advanced Search</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAdSearch()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="adSearchForm">
      <div class="form-row">     
        <div class="form-group col-sm-12">
          <label for="serial">Serial #</label>
          <input id='serial' formControlName="serial" class="form-control" placeholder="Serial #">
        </div>
        <div class="form-group col-sm-12">
          <label for="name">Name</label>
          <input id='name' formControlName="name" class="form-control" placeholder="Device Name">
        </div>
        <div class="form-group col-sm-12">
          <label for="model">Device Model</label>
          <select id="model" formControlName="model" class="form-control" style="border-color: #e0e7ff;">
            <option value="" selected>All Model</option>
            <option *ngFor="let dm of deviceModels" [value]="dm.id">{{dm.name}}</option>
          </select>
        </div>   
        <div class="form-group col-sm-12">
          <label for="location">Location</label>
          <select id="location" formControlName="location" class="form-control" style="border-color: #e0e7ff;">
            <option value="" selected>All Location</option>
            <option *ngFor="let l of locations" [value]="l.id">{{l.name}}</option>
          </select>
        </div>   
        <div class="form-group col-sm-12">
          <label for="status">Status</label>
          <select id="status" formControlName="status" class="form-control" style="border-color: #e0e7ff;">
            <option value="" selected>All Status</option>
            <option *ngFor="let s of statusKeys" [value]="statusEnum[s]">{{s}}</option>
          </select>
        </div>
      </div>
    </form>

    <div class="button-block pt-2">
      <span class="pr-2"><button type="button" class="btn btn-primary form-button-cancel"
          (click)="closeAdSearch()">Cancel</button>
      </span>
      <button type="button" class="btn btn-primary form-button-action" (click)="advancedSearch()">Search</button>
    </div>
  </div>
</ng-template>
<ng-template #actionConfirm let-modal>
  <app-confirm-dialog [resource]='confirmResource' (modalClosed)='closeConfirmation($event)'></app-confirm-dialog>
</ng-template>