<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title">
        <fa-icon [icon]='faMobile'></fa-icon>
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ deviceCount }})</span>
      </div>
      <!-- <div class="col-sm-7  tools text-right">
        
      </div> -->
      <div class="col-sm-9 tools text-right" *ngIf="locationCount > 0">
        <!-- <span class="pl-2">Select location</span>
        <span class="location-select pl-2 pr-2"><select id="location" (change)="onLocationChange($event.target.value)">
            <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
          </select></span> -->
          <!-- <div *ngIf="locationCount > 0" class="text-right select-loc"> -->
            <!-- <span class="pr-2">Select Location</span>
            <span class="location-select pr-4">
            <select id="app" (change)="onLocationChange($event.target.value)" class="select-loc-select">
              <option value="" disabled selected>Select Application</option>
              <option *ngFor="let l of locations" [value]="l.id" [selected]="location.id == l.id" >{{l.name}}</option>
            </select>
          </span> -->
          <!-- </div>   -->
        <button class="button" (click)="create(deviceModal)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Device</span>
        </button>
      </div>
    </div>
    
    <!-- <div *ngIf="locationCount === 0" class="info">
      No locations are cofigured yet.
    </div> -->
    
    <div *ngIf="deviceCount === 0" class="pt-4 info">
      No devices are created yet for the selected location.
      <ul>
        <li>New device can be created by using <span class="info-highlight">Add New Device</span> option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="deviceCount > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">Name</th>
            <th scope="col" style="width: 8%;">Serial #</th>
            <th scope="col" style="width: 8%;">Model</th>
            <th scope="col" style="width: 10%;">Location</th>
            <th scope="col" style="width: 10%;">Heartbeat Status</th>
            <th scope="col" style="width: 9%;">Recent Alarm</th>
            <th scope="col" style="width: 9%;">Battery Health</th>
            <th scope="col" style="width: 6%;">Status</th>
            <th scope="col" style="width: 10%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Update On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><a [routerLink]="['/dProfile']" [queryParams]="{ id: device.id}" > <span class="table-col-name">{{ device.name }}</span></a></td>
            <td>{{ device.serial }}</td>
            <td>{{ device.model.name }}</td>
            <td>{{ device.location.name }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ getStatus(device.status) }}</td>
            <td>{{ device.lastUpdatedBy }}</td>
            <td>{{ device.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td><span class="pr-3"><a (click)="view(device.id, deviceModal)" routerLinkActive="active">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <!-- <span class="pr-3"><a (click)="edit(device.id)" routerLinkActive="active">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span> -->
              <span class="pr-3"><a (click)="delete(device.id)" routerLinkActive="active">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="deviceCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #deviceModal let-modal>
  <app-device-form [actionType]="actionType" [merchant]="merchant" [device]="device" [locations]="locations" (modelClosed)='closeModal($event)'></app-device-form>
</ng-template>