<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-1">{{ pageHeader }}</span>
        <span class="count pl-2">({{ merchantCount }})</span></div>
      <div class="col-sm-7 tools text-right">
        <form [formGroup]="searchForm">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <span class="pr-2">
                <input id='name' formControlName="name" class="filter-input merchant" placeholder="Merchant Name"
                  #merchantName>
              </span>
              <span class="pr-2">
                <select id="country" formControlName="country" class="filter-select country" #country
                  (change)="searchMerchants('country')">
                  <option value="" selected>All Country</option>
                  <option *ngFor="let c of countries" [value]="c.name">{{c.name}}</option>
                </select>
              </span>
              <span class="pr-3">
                <select id="status" formControlName="status" class="filter-select" #status
                  (change)="searchMerchants('status')">
                  <option value="" selected>All Status</option>
                  <option *ngFor="let s of statusKeys" [value]="statusEnum[s]">{{s}}</option>
                </select>
              </span>
              <span class="pr-2 filter-icon">
                <a *ngIf="!inFilterMode" (click)="openAdSearch(searchModal)" ngbTooltip="Filter"
                  tooltipClass="tool-tip">
                  <fa-icon [icon]='faSearchPlus' style="color: #777777" size="md"></fa-icon> Advanced Search
                </a>
                <a (click)="clearSearchResult()" *ngIf="inFilterMode" ngbTooltip="Clear Filter" tooltipClass="tool-tip">
                  <fa-icon [icon]='faTimes' style="color: #777777" size="md"></fa-icon> Clear Filter
                </a>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2 tools text-right">
        <button class="button" (click)="create(merchantModal)" routerLinkActive="active">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Merchant</span>
        </button>
        <!-- <span class="pl-3 header-icon"><a (click)="changeView()">
            <fa-icon [icon]='faTh'></fa-icon>
          </a></span>
        <span class="pl-3 header-icon"><a (click)="changeView()">
            <fa-icon [icon]='faBars'></fa-icon>
          </a></span> -->
      </div>
    </div>
    <div *ngIf="merchantCount === 0 && !inFilterMode" class="info">
      No merchants are created yet.
      <ul>
        <li>New merchant can be created by using <span class="info-highlight">Add New Merchant</span> option.</li>
      </ul>
    </div>
    <div *ngIf="merchantCount === 0 && inFilterMode" class="info">
      No merchants found, please refine your filter.
    </div>
    <div class="pt-2" *ngIf="merchantCount > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">Name</th>
            <th scope="col" style="width: 16%;">Contact Details</th>
            <th scope="col" style="width: 8%;"># of Locations</th>
            <th scope="col" style="width: 7%;"># of Users</th>
            <th scope="col" style="width: 7%;"># of Apps</th>
            <th scope="col" style="width: 7%;">Status</th>
            <th scope="col" style="width: 10%;">Last Update By</th>
            <th scope="col" style="width: 15%;">Last Updated On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let merchant of merchants | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><a (click)="openMerchant(merchant.id)" style="cursor: pointer;"><span
                  class="table-col-name">{{ merchant.name }}<br>{{merchant.city+', '+merchant.country}}</span></a></td>
            <td>{{ merchant.phone }}<br><a href="mailto:{{ merchant.email }}"
                class="table-col-name">{{ merchant.email }}</a><br><a href="{{ merchant.website }}"
                class="table-col-name">{{ merchant.website }}</a></td>
            <td *ngIf="merchant.locationCount > 0"><a routerLink="/dmodel"><span
                  class="table-col-name">{{merchant.locationCount}}</span></a></td>
            <td *ngIf="merchant.locationCount === 0">{{merchant.locationCount}}</td>
            <td *ngIf="merchant.userCount > 0"><a routerLink="/dmodel"><span
                  class="table-col-name">{{merchant.userCount}}</span></a></td>
            <td *ngIf="merchant.userCount === 0">{{merchant.userCount}}</td>
            <td *ngIf="merchant.appCount > 0"><a routerLink="/dmodel"><span
                  class="table-col-name">{{merchant.appCount}}</span></a></td>
            <td *ngIf="merchant.appCount === 0">{{merchant.appCount}}</td>
            <td>{{ getStatus(merchant.status) }}</td>
            <td>{{ merchant.lastUpdatedBy }}</td>
            <td>{{ merchant.updatedDate | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td><span class="pr-3"><a (click)="view(merchant.id, merchantModal)" routerLinkActive="active">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="edit(merchant.id, merchantModal)" routerLinkActive="active">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="delete(merchant.id)" routerLinkActive="active">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="merchantCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize" class="page-select">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #merchantModal let-modal>
  <app-merchant-form [actionType]="actionType" [merchant]="merchant" (modalClosed)='closeModal($event)'>
  </app-merchant-form>
</ng-template>

<ng-template #searchModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Advanced Search</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAdSearch()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="adSearchForm">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="name">Name</label>
          <input id='name' formControlName="name" class="form-control"  placeholder="Merchant Name">
        </div>
        <div class="form-group col-sm-12">
          <label for="country">Country</label>
          <select id="country" formControlName="country" class="form-control" style="border-color: #e0e7ff;">
            <option value="" selected>All Country</option>
            <option *ngFor="let c of countries" [value]="c.name">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group col-sm-12">
          <label for="status">Status</label>
          <select id="status" formControlName="status" class="form-control" style="border-color: #e0e7ff;">
            <option value="" selected>All Status</option>
            <option *ngFor="let s of statusKeys" [value]="statusEnum[s]">{{s}}</option>
          </select>
        </div>
      </div>
    </form>
  
  <div class="button-block pt-2">
    <span class="pr-2"><button type="button" class="btn btn-primary form-button-cancel"
        (click)="closeAdSearch()">Cancel</button>
    </span>
    <button type="button" class="btn btn-primary form-button-action" (click)="advancedSearch()">Search</button>
  </div>
</div>
</ng-template>
