<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title">
        <fa-icon [icon]='faMap'></fa-icon>
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ locationCount }})</span>
      </div>
      <div class="col-sm-7 tools text-right">
        <form [formGroup]="searchForm">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <span class="pr-2">
                <input id='name' formControlName="name" class="filter-input" placeholder="Location Name"
                  #locationName>
              </span>
              <span class="pr-3">
                <select id="status" formControlName="status" class="filter-select" #status (change)="searchLocations('status')">
                  <option value="" selected>All Status</option>
                  <option *ngFor="let s of statusKeys" [value]="statusEnum[s]">{{s}}</option>
                </select>
              </span>
              <span class="pr-2 filter-icon">
                <!-- <a (click)="searchLocations()" *ngIf="!inFilterMode" ngbTooltip="Filter" tooltipClass="tool-tip">
                  <fa-icon [icon]='faSearch' style="color: #777777" size="md"></fa-icon> Apply Filter
                </a> -->
                <a *ngIf="!inFilterMode" (click)="openAdSearch(searchModal)" ngbTooltip="Filter"
                  tooltipClass="tool-tip">
                  <fa-icon [icon]='faSearchPlus' style="color: #777777" size="md"></fa-icon> Advanced Search
                </a>
                <a (click)="clearSearchResult()" *ngIf="inFilterMode" ngbTooltip="Clear Filter" tooltipClass="tool-tip">
                  <fa-icon [icon]='faTimes' style="color: #777777" size="md"></fa-icon> Clear Filter
                </a>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2 tools text-right">
        <button class="button" (click)="create(locModal)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Location</span>
        </button>
      </div>
    </div>
    <div *ngIf="locationCount === 0" class="info">
      No locations are created yet.
      <ul>
        <li>New location can be created by using <span class="info-highlight">Add New Location</span> option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="locationCount > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 15%;">Name</th>
            <th scope="col" style="width: 20%;">Address</th>
            <th scope="col" style="width: 20%;">Desc</th>
            <th scope="col" style="width: 8%;">Device Count</th>
            <th scope="col" style="width: 7%;">Status</th>
            <th scope="col" style="width: 10%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Updated On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let location of locations | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ location.name }}</span></td>
            <td>{{ location.address}}</td>
            <td>{{ location.desc }}</td>
            <td *ngIf="location.deviceCount > 0"><a routerLink="/device"><span
                  class="table-col-name">{{location.deviceCount}}</span></a></td>
            <td *ngIf="location.deviceCount === 0">{{location.deviceCount}}</td>
            <td>{{ getStatus(location.status) }}</td>
            <td>{{ location.lastUpdatedBy }}</td>
            <td>{{ location.updatedDate | date: 'dd/MM/yyyy HH:mm' }}</td>

            <td><span class="pr-3"><a (click)="view(location.id, locModal)" routerLinkActive="active">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="edit(location.id, locModal)" routerLinkActive="active">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="delete(location.id)" routerLinkActive="active">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="locationCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize" class="page-select">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>

  </div>
</div>
<ng-template #locModal let-modal>
  <app-loation-form [actionType]="actionType" [merchant]="merchant" [location]="location"
    (modalClosed)='closeModal($event)'></app-loation-form>
</ng-template>
<ng-template #searchModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Advanced Search</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAdSearch()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="adSearchForm">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="name">Name</label>
          <input id='name' formControlName="name" class="form-control"  placeholder="Merchant Name">
        </div>
        <div class="form-group col-sm-12">
          <label for="status">Status</label>
          <select id="status" formControlName="status" class="form-control" style="border-color: #e0e7ff;">
            <option value="" selected>All Status</option>
            <option *ngFor="let s of statusKeys" [value]="statusEnum[s]">{{s}}</option>
          </select>
        </div>
      </div>
    </form>
  
  <div class="button-block pt-2">
    <span class="pr-2"><button type="button" class="btn btn-primary form-button-cancel"
        (click)="closeAdSearch()">Cancel</button>
    </span>
    <button type="button" class="btn btn-primary form-button-action" (click)="advancedSearch()">Search</button>
  </div>
</div>
</ng-template>
