@import "../../../assets/sass/variables";

#searchInput {
    background-image: url('../../../assets/images/search.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: $font-size-sm; /* Increase font-size */
    padding: 12px 50px 12px 40px; /* Add some padding */
    border: 1px solid $input-border-color; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #policyTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid $input-border-color; /* Add a grey border */
    font-size: $font-size-sm; /* Increase font-size */
    font-family: $font-family-light;
    height: 200px;
    overflow-y: scroll;
  }
  
  #policyTable th, #policyTable td {
    text-align: left; /* Left-align text */
    padding: 5px 10px; /* Add padding */
  }
  
  #policyTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
  }
  
  #policyTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }