<div class="container-fluid error-container">
    <div class="error perfect-centering">
      <div><img src="../../assets/images/azpay_cc_logo.svg" class="logo" ></div>
      <div class="error-image-span"><fa-icon [icon]='faTimesCircle'></fa-icon></div>
      <div class="error-text">
        <div class="highlight">Access Denied.</div>
        <div>Sorry, you do not have permission to access the requested page.</div>
        <div class="support">Please contact your system administrator at <a href="mailto:azpaycc_support@accessmindz.com">azpaycc_support@accessmindz.com</a></div>
      </div>
      <div class="error-button"><button class="btn btn-primary form-button-action">Login</button></div>
    </div>
</div>
