<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ brandCount }})</span>
      </div>
      <!-- <div class="col-sm-7  tools text-right">
          
        </div> -->
      <div class="col-sm-9 tools text-right">
        <button class="button" (click)="create(dbModal)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Brand</span>
        </button>
      </div>
    </div>
    <div *ngIf="brandCount === 0" class="info">
      No device brands are created yet.
      <ul>
        <li>New device can be created by using <span class="info-highlight">Add New Brand</span> option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="brandCount > 0">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">Name</th>
            <th scope="col" style="width: 30%;">Description</th>
            <th scope="col" style="width: 10%;"># of Models</th>
            <th scope="col" style="width: 10%;">Status</th>
            <th scope="col" style="width: 10%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Updated On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let brand of brands | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ brand.name }}</span></td>
            <td>{{ brand.desc }}</td>
            <td *ngIf="brand.modelCount > 0"><a routerLink="/dmodel"><span class="table-col-name">{{brand.modelCount}}</span></a></td>
            <td *ngIf="brand.modelCount === 0">{{brand.modelCount}}</td>
            <td>{{ getStatus(brand.status)}}</td>
            <td>{{ brand.lastUpdatedBy }}</td>
            <td>{{ brand.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td><span class="pr-3"><a (click)="view(brand.id, dbModal)" routerLinkActive="active"
                  *ngIf="canView(brand.status)">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="edit(brand.id, dbModal)" routerLinkActive="active"
                  *ngIf="canEdit(brand.status)">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a></span>
              <span class="pr-3"><a (click)="delete(brand.id)" routerLinkActive="active"
                  *ngIf="canDelete(brand.status)">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a></span></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="brandCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
<ng-template #dbModal let-modal>
  <app-device-brand-form [actionType]="actionType" [brand]="brand" (modelClosed)='closeModal($event)'>
  </app-device-brand-form>
</ng-template>
