<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ roleCount }})</span>
      </div>
      <div class="col-sm-9 tools text-right">
        <button class="button" (click)="create(roleModal)" *ngIf="hasAccess(actionEnum.add)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New Role</span>
        </button>
      </div>
    </div>
    <div *ngIf="roleCount === 0" class="info">
      No roles are created yet.
      <ul>
        <li>New role can be created by using <span class="info-highlight">Add New Roles</span> option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="roleCount > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">Name</th>
            <th scope="col" style="width: 35%;">Description</th>
            <th scope="col" style="width: 10%;">Status</th>
            <th scope="col" style="width: 15%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Updated On</th>
            <th scope="col" style="width: 10%;" *ngIf="hasActionAccess()">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ role.name }}</span></td>
            <td>{{ role.desc }}</td>
            <td>{{ getStatus(role.status)}}</td>
            <td>{{ role.lastUpdatedBy }}</td>
            <td>{{ role.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td *ngIf="hasActionAccess()">
              <span class="pr-3" *ngIf="hasAccess(actionEnum.view)">
                <a (click)="view(role.id, roleModal)" routerLinkActive="active" ngbTooltip="View" tooltipClass="tool-tip">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a>
              </span>
              <span class="pr-3" *ngIf="hasAccess(actionEnum.edit) && role.status !== 2">
                <a (click)="edit(role.id, roleModal)" routerLinkActive="active" ngbTooltip="Edit" tooltipClass="tool-tip">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a>
              </span>
              <span class="pr-3" *ngIf="hasAccess(actionEnum.delete) && role.status !== 2">
                <a (click)="openConfirmation(actionConfirm, 'role', actionEnum.delete, role.id, role.name)" routerLinkActive="active" ngbTooltip="Delete" tooltipClass="tool-tip">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a>
              </span>
              <span *ngIf="hasAccess(actionEnum.activate) && role.status === 0">
                <a (click)="openConfirmation(actionConfirm, 'role', actionEnum.activate, role.id, role.name)" routerLinkActive="active" ngbTooltip="Activate" tooltipClass="tool-tip">
                  <fa-icon [icon]='faCheckCircle' style="color: #20c997;"></fa-icon>
                </a>
              </span>
              <span *ngIf="hasAccess(actionEnum.activate) && role.status === 1">
                <a (click)="openConfirmation(actionConfirm, 'role', actionEnum.inActivate, role.id, role.name)" routerLinkActive="active" ngbTooltip="In-Activate" tooltipClass="tool-tip">
                  <fa-icon [icon]='faBan' style="color: #fd7e14;"></fa-icon>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between px-2">
      <ngb-pagination [collectionSize]="roleCount" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select [(ngModel)]="pageSize">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="25">25 items per page</option>
      </select>
    </div>
  </div>
</div>
<ng-template #roleModal let-modal>
  <app-role-form [actionType]="actionType" [role]="role" (modalClosed)='closeModal($event)'></app-role-form>
</ng-template>
<ng-template #actionConfirm let-modal>
  <app-confirm-dialog [resource]='confirmResource' (modalClosed)='closeConfirmation($event)'></app-confirm-dialog>
</ng-template>
