<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title"><img src="../../../assets/images/merchant.svg" />
        <span class="pl-2">{{ pageHeader }}</span>
        <span class="count pl-2">({{ userCount }})</span></div>
      <div class="col-sm-9 tools text-right">
        <button class="button" (click)="create(userModal)" *ngIf="hasAccess(actionEnum.add)">
          <fa-icon [icon]='faPlus' size="lg"></fa-icon><span class="pl-2">Add
            New User</span>
        </button>
      </div>
    </div>
    <div *ngIf="userCount === 0" class="info">
      No users are created yet.
      <ul>
        <li>New user can be created by using <span class="info-highlight">Add New User</span> option.</li>
      </ul>
    </div>
    <div class="pt-2" *ngIf="userCount > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 15%;">Name</th>
            <th scope="col" style="width: 15%;">Email</th>
            <th scope="col" style="width: 20%;">user</th>
            <th scope="col" style="width: 10%;">Role</th>
            <th scope="col" style="width: 10%;">Status</th>
            <th scope="col" style="width: 10%;">Last Update By</th>
            <th scope="col" style="width: 10%;">Last Updated On</th>
            <th scope="col" style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><span class="table-col-name">{{ user.firstName + ' ' + user.lastName}}</span></td>
            <td>{{ user.email }}</td>
            <td>{{ user.merchant.name }}</td>
            <td>{{ user.role.name }}</td>
            <td>{{ getStatus(user.status) }}</td>
            <td>{{ user.lastUpdatedBy }}</td>
            <td>{{ user.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td *ngIf="hasActionAccess()">
              <span class="pr-3" *ngIf="hasAccess(actionEnum.view)">
                <a (click)="view(user.id, userModal)" routerLinkActive="active" ngbTooltip="View" tooltipClass="tool-tip">
                  <fa-icon [icon]='faEye' style="color:#1653da"></fa-icon>
                </a>
              </span>
              <span class="pr-3" *ngIf="hasAccess(actionEnum.edit) && user.status !== 2">
                <a (click)="edit(user.id, userModal)" routerLinkActive="active" ngbTooltip="Edit" tooltipClass="tool-tip">
                  <fa-icon [icon]='faEdit' style="color:#ffc107;"></fa-icon>
                </a>
              </span>
              <span class="pr-3" *ngIf="hasAccess(actionEnum.delete) && user.status !== 2">
                <a (click)="openConfirmation(actionConfirm, 'user', actionEnum.delete, user.id, user.firstName+' '+user.lastName)" routerLinkActive="active" ngbTooltip="Delete" tooltipClass="tool-tip">
                  <fa-icon [icon]='faArchive' style="color: #dc3545;"></fa-icon>
                </a>
              </span>
              <span *ngIf="hasAccess(actionEnum.activate) && user.status === 0">
                <a (click)="openConfirmation(actionConfirm, 'user', actionEnum.activate, user.id, user.firstName+' '+user.lastName)" routerLinkActive="active" ngbTooltip="Activate" tooltipClass="tool-tip">
                  <fa-icon [icon]='faCheckCircle' style="color: #20c997;"></fa-icon>
                </a>
              </span>
              <span *ngIf="hasAccess(actionEnum.activate) && user.status === 1">
                <a (click)="openConfirmation(actionConfirm, 'user', actionEnum.inActivate, user.id, user.firstName+' '+user.lastName)" routerLinkActive="active" ngbTooltip="In-Activate" tooltipClass="tool-tip">
                  <fa-icon [icon]='faBan' style="color: #fd7e14;"></fa-icon>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between px-2">
        <ngb-pagination [collectionSize]="userCount" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
        </select>
      </div>
    </div>
  </div>

</div>
<ng-template #userModal let-modal>
  <app-user-form [actionType]="actionType" [merchant]="merchant" [user]="user" (modalClosed)='closeModal($event)'></app-user-form>
</ng-template>
<ng-template #actionConfirm let-modal>
  <app-confirm-dialog [resource]='confirmResource' (modalClosed)='closeConfirmation($event)'></app-confirm-dialog>
</ng-template>
