<div class="main">
  <div class="container-fluid">
    <div class="row page-header">
      <div class="col-sm-3 title">
        <fa-icon [icon]='faDashboard'></fa-icon>
        <span class="pl-2">{{ pageHeader }}</span>
      </div>
    </div>
    <div class="row db-card">
      <div class="col-sm-3">
        <div class="main">
          <div class="col-12 merchant">
            <img src="../../assets/images/merchant_1.svg" />
          </div>
          <div class="col-12 title">TOTAL MERCHANTS<span class="float-right highlight">Change(Month)</span></div>
          <div class="col-12 text" *ngIf="mStats">{{mStats.mTotCount}}
            <span class="float-right">
              <span class="text-hl-positive" *ngIf="mStats.mActiveChange > 0">
                <fa-icon [icon]='faUpArrow' size="sm"></fa-icon>
                <span class="pl-1">{{mStats.mActiveChange}}</span>
              </span>
              <span class="text-hl-negative pl-3" *ngIf="mStats.mInActiveChange > 0">
                <fa-icon [icon]='faDownArrow' size="sm"></fa-icon>
                <span class="pl-1">{{mStats.mInActiveChange}}</span>
              </span>
              <span class="text-hl-none"
                *ngIf="mStats.mActiveChange === 0 && mStats.mInActiveChange === 0">{{0}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="main">
          <div class="col-12 location">
            <fa-icon [icon]='faMap' size="lg"></fa-icon>
          </div>
          <div class="col-12 title">TOTAL LOCATIONS<span class="float-right highlight">Change(Month)</span></div>
          <div class="col-12 text" *ngIf="lStats">{{lStats.totCount}}
            <span class="float-right">
              <span class="text-hl-positive pl-3" *ngIf="lStats.activeChange > 0">
                <fa-icon [icon]='faUpArrow' size="sm"></fa-icon>
                <span class="pl-1">{{lStats.activeChange}}</span>
              </span>
              <span class="text-hl-negative pl-3" *ngIf="lStats.inActiveChange > 0">
                <fa-icon [icon]='faDownArrow' size="sm"></fa-icon>
                <span class="pl-1">{{lStats.inActiveChange}}</span>
              </span>
              <span class="text-hl-none" *ngIf="lStats.activeChange === 0 && lStats.inActiveChange === 0">{{0}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="main">
          <div class="col-12 device">
            <fa-icon [icon]='faMobile' size="lg"></fa-icon>
          </div>
          <div class="col-12 title">TOTAL DEVICES<span class="float-right highlight">Change(Month)</span></div>
          <div class="col-12 text" *ngIf="dStats">{{dStats.totCount}}
            <span class="float-right">
              <span class="text-hl-positive pl-3" *ngIf="dStats.activeChange > 0">
                <fa-icon [icon]='faUpArrow' size="sm"></fa-icon>
                {{dStats.activeChange}}
              </span>
              <span class="text-hl-negative pl-3" *ngIf="dStats.inActiveChange > 0">
                <fa-icon [icon]='faDownArrow' size="sm"></fa-icon>
                {{dStats.inActiveChange}}
              </span>
              <span class="text-hl-none pl-3"
                *ngIf="dStats.activeChange === 0 && dStats.inActiveChange === 0">{{0}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="main">
          <div class="col-12 active-device">
            <fa-icon [icon]='faMobile' size="lg"></fa-icon>
          </div>
          <div class="col-12 title">TOTAL ACTIVE DEVICES<span class="float-right highlight">  </span></div>
          <div class="col-12 text" *ngIf="dStats">{{dStats.activeCount}}
            <!-- <span class="float-right"
              [ngClass]="{'text-hl-positive': dStats.activeChange > 0, 'text-hl-none' : dStats.activeChange === 0 }">
              <span class="pr-1" *ngIf="dStats.activeChange >0 ">
                <fa-icon [icon]='faUpArrow' size="sm"></fa-icon>
              </span>
              <span class="pr-1" *ngIf="dStats.activeChange < 0 ">
                <fa-icon [icon]='faDownArrow' size="sm"></fa-icon>
              </span>
              {{dStats.activeChange | positive}}
            </span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row db-map">
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 title">Merchant Overview</div>
          <div class="col-sm-6 title-filter float-right">
            <select id="country" class="form-control" (change)="changeCountry($event.target.value)">
              <option value="" disabled selected>All Countries</option>
              <option value="{{country.name}}" *ngFor="let country of countries">{{country.name}}</option>
            </select>
          </div>
          <!-- <div class="col-sm-4 title-filter">
            <select id="merchant" class="form-control" #worldchart>
              <option value="" disabled selected>All Merchant</option>
              <option value="{{merchant.id}}" *ngFor="let merchant of merchants">{{merchant.name}}</option>
            </select>
          </div> -->
        </div>
        <div class="col-sm-12 p-0">
          <google-chart [data]="geoChart" *ngIf="isRefreshed"></google-chart>
          <google-chart [data]="geoChart1" *ngIf="!isRefreshed"></google-chart>
          <!-- <google-chart [data]="geoChart" *ngIf="isCountryChanged"></google-chart> -->
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 top-title">Top Merchants
                <!--span class="seemore">See More</span-->
              </div>
              <div class="col-sm-12 px-0 py-2 top-merchants" *ngIf="mStats">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 60%;">Merchant</th>
                      <th scope="col" style="width: 20%;"># of Locations</th>
                      <th scope="col" style="width: 20%;"># of Device</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let merchant of merchants | slice:0:20">
                      <td><a (click)="openMerchant(merchant.id)">{{ merchant.name }}</a></td>
                      <td><span class="count-indicator"><a (click)="openLocation(merchant.id)">{{merchant.locationCount}}</a></span>
                          <span class="text-hl-positive pl-2" *ngIf="merchant.locActiveCount > 0">
                            <fa-icon [icon]='faUpArrow' size="sm"></fa-icon>
                            {{merchant.locActiveCount}}
                          </span>
                          <span class="text-hl-negative pl-2" *ngIf="merchant.locInActiveCount > 0">
                            <fa-icon [icon]='faDownArrow' size="sm"></fa-icon>
                            {{merchant.locInActiveCount}}
                          </span>
                      </td>
                      <td><span class="count-indicator"><a (click)="openDevice(merchant.id)">{{merchant.deviceCount}}</a></span>
                        <span class="text-hl-positive pl-2" *ngIf="merchant.dvscActiveCount > 0">
                          <fa-icon [icon]='faUpArrow' size="sm"></fa-icon>
                          {{merchant.dvscActiveCount}}
                        </span>
                        <span class="text-hl-negative pl-2" *ngIf="merchant.dvscInActiveCount > 0">
                          <fa-icon [icon]='faDownArrow' size="sm"></fa-icon>
                          {{merchant.dvscInActiveCount}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-12 top-title">
            <div class="row">
              <div class="col-sm-12">Top 5 Locations</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
