<div class="container-fluid logout-container">
    <div class=" logout perfect-centering">
      <div><img src="../../assets/images/azpay_cc_logo.svg" class="logo" ></div>
      <div class="logout-image-span"><img src="../../assets/images/logout-timer.svg" class="logout-image" ></div>
      <div class="logout-text">
        <span class="highlight">Your session has expired.</span>
        <br>
        <span>Please login to continue with your session.</span>
      </div>
      <div class="logout-button"><button class="btn btn-primary form-button-action" (click)="login()">Login</button></div>
    </div>
</div>
