@import "../../assets/sass/variables";

.logout-container {
  height: 720px;
  background-color: $body-color;
}

.logout {
  min-width: 600px;
  min-height: 210px;
  padding: 30px 20px !important;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-shadow: 0px 3px 8px $gray-lighter;
  -webkit-box-shadow: 0px 3px 8px $gray-lighter;
  box-shadow: 0px 3px 3px $gray-lighter;
  text-align: center;
}

.logo {
  height: 40%;
  width: 40%;
  padding-bottom: 30px;
}

.logout-image-span {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: $form-color;
  text-align: center;
  display: inline-block;
  padding: 13px;
}

.logout-image {
  height: 35px;
  width: 35px;
}

.logout-text {
  font-size: $font-size-sm;
  text-align: center;
  padding: 10px;
}

.logout-text .highlight {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  display: inline-block;
  padding-bottom: 10px;
}

.logout-button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
