/* You can add global styles to this file, and also import other style files */
@import "assets/sass/variables";
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/angular-archwizard/archwizard.scss';
@import "assets/sass/lato-font.scss";

@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';


body {
  color: $az-font-color;
  background-color: $form-color;
  // font-family: $font-family-lato;
}

.main {
  height: auto;
  position: relative;
  margin: 0px;
  overflow: hidden;
  border-bottom: 1px solid $body-border-color;
  border-top: 1px solid $body-border-color;
}

.main .container-fluid {
  min-height: 664px;
  max-width: 98%;
  background-color: $body-color;
}

.page-header {
  min-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 50px;
  margin: 0px;
  letter-spacing: 2px;
}

.page-header .title {
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  font-family: $font-family-medium;
  padding: 0px;
}

.page-title {
  font-size: $font-size-lg;
  font-family: $font-family-medium;
}

.page-sub-title {
  font-size: $font-size-md;
  font-family: $font-family-medium;
}

button {
  font-family: $font-family-base !important;
}

.fa {
  vertical-align: middle;
  color: $gray-light;
}

.progress {
  min-width: 250px !important;
  max-height: 0.30rem !important;
  font-size: 0.25rem !important;
}

.button-block {
  text-align: right;
  padding-right: 10px;
}

.button {
  background-color: $header-color;
  color: $white;
  height: 35px;
  border-radius: 6px;
  font-size: $font-size-xs;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 32px;
  font-weight: $font-weight-lighter;
}

.button-cancel {
  background-color: $body-color;
  color: $header-color;
  height: 35px;
  border-radius: 6px;
  font-size: $font-size-xs;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 1px;
  border-color: $header-color;
  line-height: 32px;
  font-weight: $font-weight-lighter;
}

.modal-title {
  font-size: $font-size-md !important;
  font-weight: $font-weight-lighter !important;
  font-family: $font-family-base;
  // color: $header-color;
  color: $white;
}

.modal-header {
  background-color: $header-color;
  color: $white;
}

.modal-header .close{
  color: $white;
}

.modal-button {
  color: $white !important;
  border-radius: 3px;
  min-width: 100px;
  font-size: $font-size-xs !important;
  font-weight: $font-weight-lighter !important;
  font-family: $font-family-base;
  background-color: #18A0FB;
  padding: 5px 15px;
}

.modal-body{
  padding: 20px !important;
}

.modal-body label {
  font-size: $font-size-xs;
  font-weight: $font-weight-lighter;
  font-family: $font-family-base;
}

.dropdown-menu {
  box-shadow: 2px 2px 3px $gray-light;
  -webkit-box-shadow: 2px 2px 3px $gray-light;
  -moz-box-shadow: 2px 2px 3px $gray-light;
}

.dropdown-menu .dropdown-item {
  font-size: $font-size-xs !important;
  font-family: $font-family-light;
  color: $header-color;
}

.dropdown-menu .dropdown-item i {
  color: $gray-light;
}

.dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.1em;
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

.modal.show .modal-dialog {
  top: 50px !important;
}

.apperr {
  color: #CF0101;
  padding: 0;
  margin-bottom: 0px;
  font-family: $font-family-medium !important;
}

.form-container {
  width: 100%;
  padding: 5px !important;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $body-border-color !important;
}

.form-header {
  min-height: 50px;
  line-height: 50px;
  margin: 0px;
  letter-spacing: 2px;
  padding: 0px;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  font-family: $font-family-medium;
}

.form-container label {
  font-size: $font-size-xs;
  font-weight: $font-weight-lighter;
  font-family: $font-family-base;
}

.form-container a:hover {
  color: $header-color;
  cursor: pointer;
}

.form-control {
  background-color: $form-color;
  border: solid 1px $input-border-color;
  color: $az-font-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  font-family: $font-family-medium;
}

.form-button-action {
  height: 30px;
  width: 100px;
  background-color: $header-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-lighter;
  font-family: $font-family-light;
  box-shadow: lightness($color: #000000);
  line-height: 10px;
}

.form-button-cancel {
  height: 30px;
  width: 100px;
  background-color: $form-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-lighter;
  font-family: $font-family-light;
  box-shadow: lightness($color: #000000);
  border-color: $header-color;
  color: $gray-medium;
  line-height: 10px;
}

.form-control:focus {
  box-shadow: inset 0 -1px 0 $gray-lighter;
}

.info{
  font-family: $font-family-light;
  font-size: $font-size-sm;
  font-weight: $font-weight-lighter;
}


.info-highlight {
  font-size: $font-size-sm;
  font-family: $font-family-bold;
  color: $header-color;
}

label.asterisk-if-mandatory::after {
  content: " *";
  color: $danger;
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

.page-header .count {
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  font-family: $font-family-light;
  padding: 0px;
}

.page-header .title img {
vertical-align: text-top !important;
}

.page-header .tools {
padding: 0px;
}

// .button {
//   background-color: $header-color;
//   color: $white;
//   height: 35px;
//   border-radius: 6px;
//   font-size: $font-size-xsm;
//   border: 0px;
//   padding-left: 15px;
//   padding-right: 15px;
//   line-height: 32px;
//   font-weight: $font-weight-lighter;
// }

.button-light {
background-color: $body-color;
color: $header-color;
height: 35px;
border-radius: 6px;
font-size: $font-size-xsm;
padding-left: 15px;
padding-right: 15px;
border-width: 1px;
border-color: $header-color;
line-height: 32px;
font-weight: $font-weight-lighter;
}

.header-icon {
color: $header-color !important;
font-size: $font-size-md;
font-weight: $font-weight-lighter;
font-family: $font-family-light;
}

.table {
border-collapse: separate;
border-spacing: 0px;
width: 100% !important;
}

.table thead {
color: $header-color;
font-size: $font-size-xs;
font-family: $font-family-bold;
padding-top: 0;
min-height: 30px;
line-height: 30px;
background-color: #ebebeb;
border: none;
}

.table thead th {
border-bottom: none;
}

.table thead th:first-child {
border-left: 1px solid #dee2e6;
}

.table thead th:last-child {
border-right: 1px solid #dee2e6;
}

.table td {
font-size: $font-size-xs;
color: $gray;
background-color: $white;
font-family: $font-family-light;
// border: 1px solid $az-font-color;
}

.table tr td:first-child {
border-left: 1px solid #dee2e6;
}

.table tr td:last-child {
border-right: 1px solid #dee2e6;
}

.table tbody tr {
border: 1px solid $gray;
box-shadow: 2px 2px 3px $gray-lighter;
-webkit-box-shadow: 2px 2px 3px $gray-lighter;
-moz-box-shadow: 2px 2px 3px $gray-lighter;
}

.table-col-name {
font-family: $font-family-light;
font-size: $font-size-xs;
font-weight: $font-weight-bold;
color: $az-blue-primary;
}

.table-col-ellipsis {
text-overflow: ellipsis;
max-width: 120px;
}

select {
// height: 30px !important;
// font-family: $font-family-light !important;
// font-size: $font-size-xs !important;
color: $gray-medium !important;
padding-left: 5px !important;
padding-right: 5px !important;
border-color: $header-color;
border-radius: 3px !important;
}

