/* You can add global styles to this file, and also import other style files */
@import "assets/sass/variables";
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/angular-archwizard/archwizard.scss';
@import "assets/sass/lato-font.scss";


body {
  color: $az-font-color;
  background-color: $form-color;
  // font-family: $font-family-lato;
}

.main {
  height: auto;
  position: relative;
  margin: 0px;
  overflow: hidden;
  border-bottom: 1px solid $body-border-color;
  border-top: 1px solid $body-border-color;
}

.main .container-fluid {
  min-height: 664px;
  max-width: 98%;
  background-color: $body-color;
}

.page-header {
  min-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 50px;
  margin: 0px;
  letter-spacing: 2px;
}

.page-header .title {
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  font-family: $font-family-medium;
  padding: 0px;
}

.page-title {
  font-size: $font-size-lg;
  font-family: $font-family-medium;
}

.page-sub-title {
  font-size: $font-size-md;
  font-family: $font-family-medium;
}

button {
  font-family: $font-family-base !important;
}

.fa {
  vertical-align: middle;
  color: $gray-light;
}

.progress {
  min-width: 250px !important;
  max-height: 0.30rem !important;
  font-size: 0.25rem !important;
}

.button {
  background-color: $header-color;
  color: $white;
  height: 35px;
  border-radius: 6px;
  font-size: $font-size-xs;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 32px;
  font-weight: $font-weight-lighter;
}

.button-cancel {
  background-color: $body-color;
  color: $header-color;
  height: 35px;
  border-radius: 6px;
  font-size: $font-size-xs;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 1px;
  border-color: $header-color;
  line-height: 32px;
  font-weight: $font-weight-lighter;
}

.modal-button {
  color: $white !important;
  border-radius: 3px;
  min-width: 100px;
  font-size: $font-size-xs !important;
  font-weight: $font-weight-lighter !important;
  font-family: $font-family-base;
  background-color: #18A0FB;
  padding: 5px 15px;
}

.dropdown-menu {
  box-shadow: 2px 2px 3px $gray-light;
  -webkit-box-shadow: 2px 2px 3px $gray-light;
  -moz-box-shadow: 2px 2px 3px $gray-light;
}

.dropdown-menu .dropdown-item {
  font-size: $font-size-xs !important;
  font-family: $font-family-light;
  color: $header-color;
}

.dropdown-menu .dropdown-item i {
  color: $gray-light;
}

.dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.1em;
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

.modal.show .modal-dialog {
  top: 50px !important;
}

.apperr {
  color: #CF0101;
  padding: 0;
  margin-bottom: 0px;
  font-family: $font-family-medium !important;
}

.form-container {
  width: 100%;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $body-border-color !important;
}

.form-header {
  min-height: 50px;
  line-height: 50px;
  margin: 0px;
  letter-spacing: 2px;
  padding: 0px;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  font-family: $font-family-medium;
}

.form-container label {
  font-size: $font-size-xs;
  font-weight: $font-weight-lighter;
  font-family: $font-family-base;
}

.form-container a:hover {
  color: $header-color;
  cursor: pointer;
}

.form-control {
  background-color: $form-color;
  border: solid 1px $input-border-color;
  color: $az-font-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  font-family: $font-family-medium;
}

.form-button-action {
  height: 35px;
  width: 125px;
  background-color: $header-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-lighter;
  font-family: $font-family-light;
  box-shadow: lightness($color: #000000);
}

.form-button-cancel {
  height: 35px;
  width: 125px;
  background-color: $form-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-lighter;
  font-family: $font-family-light;
  box-shadow: lightness($color: #000000);
  border-color: $header-color;
  color: $gray-medium;
}

.form-control:focus {
  box-shadow: inset 0 -1px 0 $gray-lighter;
}

.info{
  font-family: $font-family-light;
  font-size: $font-size-sm;
  font-weight: $font-weight-lighter;
}


.info-highlight {
  font-size: $font-size-sm;
  font-family: $font-family-bold;
  color: $header-color;
}
