<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{pageHeader}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="formType == 'simple'" class="pt-3">

</div>
<!-- View Configuration-->
<div class="pt-3" *ngIf="actionType == actionEnum.view">
  <div class="modal-body">
    <form>
      <div class="row" style="background-color:#e0e7ff">
        <div class="col-12 form-group-title">
          <h6 style="color: #353d9f !important;">Application</h6>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12 required">
          <label for="app" class="asterisk-if-mandatory">Application</label>
          <input class="form-control" [value]="selectedParam.app.name" [disabled]="true">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12 required">
          <label for="app" class="asterisk-if-mandatory">Device</label>
          <input class="form-control" [value]="selectedParam.device.name" [disabled]="true">
        </div>
      </div>
      <div *ngFor="let step of steps">
        <div class="row" style="background-color:#e0e7ff">
          <div class="col-12 form-group-title">
            <h6 style="color: #353d9f !important;">{{step.step_name}}</h6>
          </div>
        </div>
        <div *ngFor="let row of step.fields.rows">
          <div class="row pb-4">
            <div
              [ngClass]="{'col-sm-12': row.cols.length === 1, 'col-sm-6': row.cols.length === 2, 'col-sm-4': row.cols.length === 3}"
              [ngSwitch]="control.type" *ngFor="let control of row.cols">
              <label [ngClass]="{'asterisk-if-mandatory': control.validation.mandatory}">{{control.label}}</label>
              <div *ngSwitchCase="'text'">
                <input type="text" class="form-control" id="{{control.name}}" [ngStyle]="{'width': control.width}"
                  value="{{getValue(step.step_name, control.name)}}" [disabled]="true" />
              </div>
              <div *ngSwitchCase="'textarea'">
                <textarea class="form-control" id="{{control.name}}" rows="{{control.rows}}" cols="{{control.cols}}"
                  [ngStyle]="{'width': control.width}" value="{{getValue(step.step_name, control.name)}}"
                  [disabled]="true"> </textarea>
              </div>
              <div *ngSwitchCase="'email'">
                <input type="email" class="form-control" id="{{control.name}}" [ngStyle]="{'width': control.width}"
                  value="{{getValue(step.step_name, control.name)}}" [disabled]="true" />
              </div>
              <div *ngSwitchCase="'date'">
                <input type="date" class="form-control" id="{{control.name}}" [ngStyle]="{'width': control.width}"
                  value="{{getValue(step.step_name, control.name)}}" [disabled]="true" />
              </div>
              <div *ngSwitchCase="'currency'">
                <select id="{{control.name}}" class="form-control" [ngStyle]="{'width': control.width}"
                  [disabled]="true">
                  <option value="{{currency.code}}" *ngFor="let currency of currencies"
                    [selected]="getValue(step.step_name, control.name) == currency.code">{{currency.country}}
                  </option>
                </select>
              </div>
              <div *ngSwitchCase="'radio'">
                <div class="input-group">
                  <div *ngFor="let option of control.options" class="pr-4">
                    <input id="{{option.label}}" type="radio" value="{{option.value}}"
                      [checked]="getValue(step.step_name, control.name) == option.value" [disabled]="true">
                    <label for="all" class="pl-1">{{option.label}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer text-right">
    <button type="button" class="btn btn-primary form-button-cancel" (click)="close(false)">Cancel</button>
  </div>
</div>
<div class="pt-3" *ngIf="actionType != actionEnum.view">
  <aw-wizard [navBarLayout]="'large-filled-symbols'" class="custom-global-scss">
    <aw-wizard-step [navigationSymbol]="{ symbol: 1 }" stepTitle="Application">
      <div class="modal-body" *ngIf="actionType == actionEnum.add">
        <form [formGroup]="appForm">
          <div class="form-row">
            <div class="form-group col-sm-12 required">
              <label for="app" class="asterisk-if-mandatory">Application</label>
              <select required class="form-control" formControlName="app" id="app"
                [ngClass]="{ 'is-invalid': formSubmitted && f.app.invalid }" (change)="changeApp($event.target.value)">
                <option value="" disabled selected>Select Application</option>
                <option *ngFor="let a of apps" [value]="a.id">{{a.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 required">
              <label for="jobDate" class="asterisk-if-mandatory">Target Type</label>
              <div class="input-group">
                <div>
                  <input id="all" type="radio" value="1" formControlName="targetType" (change)="changeTarget($event)"
                    checked>
                  <label for="all" class="pl-1">All Locations</label>
                </div>
                <div class="pl-4">
                  <input id="location" type="radio" value="2" formControlName="targetType"
                    (change)="changeTarget($event)">
                  <label for="location" class="pl-1">Location</label>
                </div>
                <div class="pl-4">
                  <input id="device" type="radio" value="3" formControlName="targetType"
                    (change)="changeTarget($event)">
                  <label for="device" class="pl-1">Device</label>
                </div>
              </div>
              <div *ngIf="formSubmitted && f.targetType.errors" class="invalid-feedback">
                <div *ngIf="f.targetType.errors.required">Target Type is required</div>
              </div>
            </div>
          </div>
          <div class="form-row list-container" *ngIf="f.targetType.value == 2">
            <div class="form-group col-sm-12 mb-0">
              <label for="search" class="asterisk-if-mandatory">Select Locations</label>
              <input type="text" id="searchLocation" (keyup)="searchLocation($event)" class="searchInput mb-1"
                placeholder="Search for location...">
            </div>
            <div class="form-group col-sm-12" style="height:150px; overflow-y: scroll;">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let location of filteredLocations">
                    <td *ngIf="location.status === 1"><input id="d-{{location.id}}" type="checkbox"
                        [value]="location.id" (click)="selectLocation($event)" [checked]='location.checked'><span
                        class="pl-4">{{location.name}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-row list-container" *ngIf="f.targetType.value == 3">
            <div class="form-group col-sm-12 mb-0">
              <label for="search" class="asterisk-if-mandatory">Devices</label>
              <input type="text" id="searchDevice" (keyup)="searchDevice($event)" class="searchInput mb-1"
                placeholder="Search for device...">
            </div>
            <div class="form-group col-sm-12" style="height:150px; overflow-y: scroll;">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let device of filteredDevices">
                    <td *ngIf="device.status === 1"><input id="d-{{device.id}}" type="checkbox" [value]="device.id"
                        (click)="selectDevice($event)" [checked]='device.checked'><span class="pl-4">{{device.name}}
                        ({{device.serial}})</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="form-row pt-2">
            <div class="form-group col-sm-6 required">
              <label for="installDate" class="asterisk-if-mandatory">Installed Date</label>
              <input type="date" class="form-control" id="installDate" formControlName="installDate"
                [ngClass]="{ 'is-invalid': formSubmitted && f.installDate.invalid }" />
            </div>
          </div> -->
        </form>
      </div>
      <div class="modal-body" *ngIf="actionType == actionEnum.edit">
        <form>
          <div class="form-row">
            <div class="form-group col-sm-12 required">
              <label for="app" class="asterisk-if-mandatory">Application</label>
              <input class="form-control" [value]="selectedParam.app.name" [disabled]="true">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 required">
              <label for="app" class="asterisk-if-mandatory">Device</label>
              <input class="form-control" [value]="selectedParam.device.name" [disabled]="true">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-primary form-button-cancel" (click)="close(false)">Cancel</button>
        <span class="pl-2 pr-2" *ngIf="actionType == actionEnum.add"><button type="button"
            class="btn btn-primary form-button-action" awNextStep
            [disabled]="!appForm.valid || (f.targetType.value == 2 && selectedLocations.length === 0) || (f.targetType.value == 3 && selectedDevices.length === 0)">Next
            Step</button></span>
        <span class="pl-2 pr-2" *ngIf="actionType != actionEnum.add"><button type="button"
            class="btn btn-primary form-button-action" awNextStep>Next
            Step</button></span>
      </div>
    </aw-wizard-step>
    <aw-wizard-step *ngFor="let step of steps" [navigationSymbol]="{ symbol: step.step_idx+2 }"
      stepTitle="{{step.step_name}}">
      <div class="modal-body">
        <form [formGroup]="formGroups[step.step_idx]">
          <div *ngFor="let row of step.fields.rows">
            <div class="form-row pb-4">
              <div
                [ngClass]="{'col-sm-12': row.cols.length === 1, 'col-sm-6': row.cols.length === 2, 'col-sm-4': row.cols.length === 3}"
                [ngSwitch]="control.type" *ngFor="let control of row.cols">
                <label [ngClass]="{'asterisk-if-mandatory': control.validation.mandatory}">{{control.label}}</label>
                <div *ngSwitchCase="'text'">
                  <input type="text" class="form-control" id="{{control.name}}" formControlName="{{control.name}}"
                    [ngStyle]="{'width': control.width}"
                    [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }" />
                </div>
                <div *ngSwitchCase="'textarea'">
                  <textarea class="form-control" id="{{control.name}}" rows="{{control.rows}}" cols="{{control.cols}}"
                    formControlName="{{control.name}}" [ngStyle]="{'width': control.width}"
                    [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }"> </textarea>
                </div>
                <div *ngSwitchCase="'email'">
                  <input type="email" class="form-control" id="{{control.name}}" formControlName="{{control.name}}"
                    [ngStyle]="{'width': control.width}"
                    [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }" />
                </div>
                <div *ngSwitchCase="'date'">
                  <input type="date" class="form-control" id="{{control.name}}" formControlName="{{control.name}}"
                    [ngStyle]="{'width': control.width}"
                    [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }" />
                </div>
                <div *ngSwitchCase="'currency'">
                  <select id="{{control.name}}" formControlName="{{control.name}}" class="form-control"
                    [ngStyle]="{'width': control.width}"
                    [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }">
                    <option value="{{currency.code}}" *ngFor="let currency of currencies">{{currency.country}}</option>
                  </select>
                </div>
                <div *ngSwitchCase="'radio'">
                  <!-- <label for="jobDate" class="'asterisk-if-mandatory': control.validation.mandatory">{{control.lebel}}</label> -->
                  <div class="input-group">
                    <div *ngFor="let option of control.options" class="pr-4">
                      <input id="{{option.label}}" type="radio" value="{{option.value}}"
                        formControlName="{{control.name}}">
                      <label for="all" class="pl-1">{{option.label}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-primary form-button-cancel" (click)="close(false)">Cancel</button>
        <span *ngIf="step.step_idx == 0" class="pl-2"><button type="button" class="btn btn-primary form-button-action"
            awPreviousStep>Previous</button></span>
        <span *ngIf="step.step_idx != 0" class="pl-2"><button type="button" class="btn btn-primary form-button-action"
            awPreviousStep (click)="prevTab(step.step_idx)">Previous</button></span>
        <span class="pl-2 pr-2"><button type="button" class="btn btn-primary form-button-action" awNextStep
            (click)="nextTab(step.step_idx)" [disabled]="!form.valid">Next
            Step</button></span>
      </div>
    </aw-wizard-step>
    <aw-wizard-completion-step enableBackLinks stepTitle="Confirm">
      <ng-template awWizardStepSymbol let-wizardStep="wizardStep">
        <!-- <i *ngIf="!wizardStep.completed" class="far fa-file"></i> -->
        <fa-icon [icon]='faCheck'></fa-icon>
      </ng-template>
      <div class="modal-body">
        <form>
          <div class="row" style="background-color:#e0e7ff">
            <div class="col-12 form-group-title">
              <h6 style="color: #353d9f !important;">Application</h6>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 required">
              <label for="app" class="asterisk-if-mandatory">Application</label>
              <select required class="form-control" id="app"
                [ngClass]="{ 'is-invalid': formSubmitted && f.app.invalid }" (change)="changeApp($event.target.value)"
                [disabled]="true">
                <option value="" disabled selected>Select Application</option>
                <option *ngFor="let a of apps" [value]="a.id" [selected]="a.id === +f.app.value">{{a.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-row" *ngIf="actionType == actionEnum.add">
            <div class="form-group col-sm-12 required">
              <label for="jobDate" class="asterisk-if-mandatory">Target Type</label>
              <div class="input-group">
                <div>
                  <input id="all" type="radio" value="1" [checked]="f.targetType.value == 1" [disabled]="true">
                  <label for="all" class="pl-1">All Locations</label>
                </div>
                <div class="pl-4">
                  <input id="location" type="radio" value="2" [checked]="f.targetType.value == 2" [disabled]="true">
                  <label for="location" class="pl-1">Location</label>
                </div>
                <div class="pl-4">
                  <input id="device" type="radio" value="3" [checked]="f.targetType.value == 3" [disabled]="true">
                  <label for="device" class="pl-1">Device</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="actionType == actionEnum.add && f.targetType.value == 2">
            <div class="form-group col-sm-12 required">
              <label for="installDate" class="asterisk-if-mandatory">Location(s)</label>
              <textarea class="form-control" id="installDate"
                [ngClass]="{ 'is-invalid': formSubmitted && f.installDate.invalid }" [disabled]="true"
                [value]="locationsToDisplay" rows="2"></textarea>
            </div>
          </div>
          <div class="form-row" *ngIf="actionType == actionEnum.add && f.targetType.value == 3">
            <div class="form-group col-sm-12 required">
              <label for="installDate" class="asterisk-if-mandatory">Device(s)</label>
              <textarea class="form-control" id="installDate"
                [ngClass]="{ 'is-invalid': formSubmitted && f.installDate.invalid }" [disabled]="true"
                [value]="devicesToDisplay"></textarea>
            </div>
          </div>
          <div class="form-row"  *ngIf="actionType == actionEnum.edit">
            <div class="form-group col-sm-12 required">
              <label for="app" class="asterisk-if-mandatory">Device</label>
              <input class="form-control" [value]="selectedParam.device.name" [disabled]="true">
            </div>
          </div>
          <!-- <div class="form-row">
            <div class="form-group col-sm-6 required">
              <label for="installDate" class="asterisk-if-mandatory">Installed Date</label>
              <input type="date" class="form-control" id="installDate"
                [ngClass]="{ 'is-invalid': formSubmitted && f.installDate.invalid }" [disabled]="true"
                [value]="f.installDate" />
            </div>
          </div> -->
          <div *ngFor="let step of steps">
            <div class="row" style="background-color:#e0e7ff">
              <div class="col-12 form-group-title">
                <h6 style="color: #353d9f !important;">{{step.step_name}}</h6>
              </div>
            </div>

            <div *ngFor="let row of step.fields.rows">
              <div class="row pb-4">
                <div
                  [ngClass]="{'col-sm-12': row.cols.length === 1, 'col-sm-6': row.cols.length === 2, 'col-sm-4': row.cols.length === 3}"
                  [ngSwitch]="control.type" *ngFor="let control of row.cols">
                  <label [ngClass]="{'asterisk-if-mandatory': control.validation.mandatory}">{{control.label}}</label>
                  <div *ngSwitchCase="'text'">
                    <input type="text" class="form-control" id="{{control.name}}" [ngStyle]="{'width': control.width}"
                      [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }"
                      value="{{getValue(step.step_name, control.name)}}" [disabled]="true" />
                  </div>
                  <div *ngSwitchCase="'textarea'">
                    <textarea class="form-control" id="{{control.name}}" rows="{{control.rows}}" cols="{{control.cols}}"
                      [ngStyle]="{'width': control.width}"
                      [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }"
                      value="{{getValue(step.step_name, control.name)}}" [disabled]="true"> </textarea>
                  </div>
                  <div *ngSwitchCase="'email'">
                    <input type="email" class="form-control" id="{{control.name}}" [ngStyle]="{'width': control.width}"
                      [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }"
                      value="{{getValue(step.step_name, control.name)}}" [disabled]="true" />
                  </div>
                  <div *ngSwitchCase="'date'">
                    <input type="date" class="form-control" id="{{control.name}}" [ngStyle]="{'width': control.width}"
                      [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }"
                      [value]="getValue(step.step_name, control.name)" [disabled]="true" />
                  </div>
                  <div *ngSwitchCase="'currency'">
                    <select id="{{control.name}}" class="form-control" [ngStyle]="{'width': control.width}"
                      [ngClass]="{ 'is-invalid': form.get(control.name) && formSubmitted && form.get(control.name).invalid }"
                      [disabled]="true">
                      <option value="{{currency.code}}" *ngFor="let currency of currencies"
                        [selected]="getValue(step.step_name, control.name) == currency.code">{{currency.country}}
                      </option>
                    </select>
                  </div>
                  <div *ngSwitchCase="'radio'">
                    <div class="input-group">
                      <div *ngFor="let option of control.options" class="pr-4">
                        <input id="{{option.label}}" type="radio" value="{{option.value}}"
                          [checked]="getValue(step.step_name, control.name) == option.value" [disabled]="true">
                        <label for="all" class="pl-1">{{option.label}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-primary form-button-cancel" (click)="close(false)">Cancel</button>
        <span class="pl-2 pr-2"><button type="button" (click)="save()" class="btn btn-primary form-button-action"
            *ngIf="actionType == actionEnum.add">Finish</button></span>
        <span class="pl-2 pr-2"><button type="button" (click)="update()" class="btn btn-primary form-button-action"
            *ngIf="actionType == actionEnum.edit">Finish</button></span>
      </div>
    </aw-wizard-completion-step>
  </aw-wizard>
</div>
