<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ pageHeader }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="locationForm">

    <!-- <div formGroupName="merchant"> -->
    <!-- <h6 style="color: #353d9f !important;">Merchant Information</h6> -->
    <!-- <div class="form-row">
                <div class="form-group col-sm-6 required">
                  <label for="name" class="asterisk-if-mandatory">Merchant</label>
                  <select required class="form-control" formControlName="merchant" id="merchant" *ngIf="isAdmin">
                    <option value="" disabled selected>Select Merchant</option>
                    <option *ngFor="let m of merchants" [value]="m.id">{{m.name}}</option>
                  </select>
                  <input required formControlName="merchant" id="merchant" type="text" class="form-control" autocomplete="off" 
                  [value]="merchant.id" *ngIf="!isAdmin" readonly>
                  <div *ngIf="formSubmitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Merchant is required</div>
                  </div>
                </div>
              </div> -->
    <div class="form-row">
      <div class="form-group col-sm-6 required">
        <label for="name" class="asterisk-if-mandatory">Name</label>
        <input required formControlName="name" id="name" type="text" class="form-control" autocomplete="off"
          [ngClass]="{ 'is-invalid': formSubmitted && f.name.errors }">
        <div *ngIf="formSubmitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors?.minlength">Name must be at least 5 characters long.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 required">
        <label for="address" class="asterisk-if-mandatory">Address</label>
        <textarea required formControlName="address" id="address" autocomplete="off" rows="3" cols="80"
          class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.address.errors }">  </textarea>
        <div *ngIf="formSubmitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
          <div *ngIf="f.address.errors.minlength">Address must be at least 25 characters long.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12">
        <label for="desc">Description</label>
        <textarea formControlName="desc" id="desc" autocomplete="off" rows="3" cols="80" class="form-control"
          [ngClass]="{ 'is-invalid': formSubmitted && f.desc.errors }">  </textarea>
        <div *ngIf="formSubmitted && f.desc.errors" class="invalid-feedback">
          <div *ngIf="f.desc.errors.minlength">Description must be at least 6 characters long.</div>
        </div>
      </div>
    </div>
    <!-- </div> -->

  </form>
  <div class="button-block">
    <span class="pr-3"><button type="button" class="btn btn-primary form-button-cancel"
        (click)="close(false)">Cancel</button>
    </span>
    <button type="button" class="btn btn-primary form-button-action" (click)="save()"
      *ngIf="actionType == actionEnum.add">Save</button>
    <button type="button" class="btn btn-primary form-button-action" (click)="edit()"
      *ngIf="actionType == actionEnum.view">Edit</button>
    <span class="pl-3" *ngIf="actionType == actionEnum.view"><button type="button"
        class="btn btn-primary form-button-action" (click)="delete()">Delete</button></span>
    <button type="button" class="btn btn-primary form-button-action" (click)="update()"
      *ngIf="actionType == actionEnum.edit">Update</button>

  </div>
</div>
